body,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,textarea,th,ul {margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:100%}
ol,ul {list-style:none}
a {text-decoration:none}
a:hover {text-decoration:underline}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}

/* 清除浮动的代码 */
.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0;
}
.clearfix{
    zoom:1
}
/* 自定义图标 */
.activity-up{
    display: inline-block;
    width: 7px;
    height: 15px;
    background: url(../static/imgs/up.png) no-repeat center center;
    background-size: cover;
}
.activity-down{
    display: inline-block;
    width: 7px;
    height: 15px;
    background: url(../static/imgs/down.png) no-repeat center center;
    background-size: cover;
}
.activity-edit{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../static/imgs/act_edit.png) no-repeat center center;
    background-size: cover;
}
.activity-delete{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../static/imgs/delete.png) no-repeat center center;
    background-size: cover;
}

/* 活动列表页面 */
/* tab样式 */
.my-tabs .el-tabs__item {
    height: 45px;
    line-height: 45px;
}
.my-tabs .el-tabs__nav-wrap::after {
    height: 1px;
}
.my-tabs-wrap {
    position: relative;
}
.el-tabs__nav-wrap::after{
    background: #fff !important;
}
.my-tabs-wrap .my-tabs-btns {
    position: absolute;
    right: 0;
    top: 0;
}
.list_img{
    width:180px;
    height:120px;
    border-radius:5px;
    background: red;
    float: left;
    position: relative;
    background-size: contain !important;
}
.list_1,.list_2{
    width: 52px;
    height: 52px;
    background: url(../static/imgs/applying.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
}
.list_2{
    background: url(../static/imgs/applyOver.png) no-repeat center center;
    background-size: cover;
}
.list_text{
    width: calc(100% - 200px);
    float: right;
    height:120px;
    position: relative;
}
.list_text>h3{
    width:100%;
    height:25px;
    font-size:18px;
    font-weight:500;
    color:rgba(34,38,50,1);
    line-height:25px;
    position: relative;
    margin-bottom: 38px;
}
.list_text>h3>.type{
    display: inline-block;
    margin-left: 20px;
    width:90px;
    height:25px;
    background: url(../static/imgs/activityImg.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: #FF9D2F;
    font-style: normal;
    text-align: left;
    text-indent: 15px;

}
.list_text>h3>.line{
    width:50px;
    height:2px;
    background:linear-gradient(90deg,rgba(0,106,229,1) 0%,rgba(0,162,255,1) 100%);
    position: absolute;
    left: 0;
    bottom: -5px;
    margin: 0;
}
.list_text>p{
    width:100%;
    height:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(34,38,50,1);
    line-height:20px;
    margin-bottom: 10px;
}
.list_text>h3>span{
    float: right;
    height:20px;
    font-size:14px;
    font-weight:400;
    color:rgba(34,38,50,1);
    line-height:20px;
}
.list_text>.btns{
    position: absolute;
    right: 0;
    bottom: 10px;
}
.page_box{
    margin-top: 20px;
    text-align: center;
}
.activityList_single{
    width: 100%;
    margin-top: 20px;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 5px 0px rgba(102,102,102,0.2);
    border-radius:5px;
}
.activityList_single>li{
    width: calc(100% - 60px);
    padding: 30px 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8EBEF;
    margin: 0 auto;
}
.search_box{
    width: 440px;
    float: right;
}
.draftsearch_box{
    width: 50%;
}
.activityList_top {
    width: 100%;
    height: 105px;
    background: rgba(255, 255, 255, 1);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}
.activityList_top>h3 {
    width: 100%;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 28px;
    margin-bottom: 14px;
    margin-top: 0;
}
.activitydraft_top{
    height: 68px;
}
.search_input{
    width: 80% !important;
}
.activityList_text {
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}
/* 活动签到码 */
.signbox{
    width: 100%;
    height: 100%;
    background: url(../static/imgs/signback.png) no-repeat center center;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
}
.activityShow_box{
    width: 100%;
    height: 100%;
    /* width: 100%;
    height: 100%;
    position: fixed;
    padding: 0;
    overflow: auto; */
}
.sign_img{
    width: 488px;
    height: 801px;
    background: url(../static/imgs/signback_.png) no-repeat center center;
    background-size: cover;
    margin: 0 auto;

}
.signImg_top{
    width: 100%;
    height: 61%;
}
.signImg_top img{
    width: 100% !important;
    height: 96% !important;
    background-color: #fff; 
    padding: 30px; 
    box-sizing: border-box;
    /* border-bottom: 2px dashed #999999; */
}
.signImg_text{
    padding: 50px;
    box-sizing: border-box;
}
.signImg_text>h3{
    width: 100%;
    /* height: 22px; */
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    line-height: 34px;
    margin-bottom: 24px;
    white-space: normal;
}
.signImg_text>p{
    margin-top: 12px;
}
.signImg_text>p>i{
    display: inline-block;
    width: 16px;
    height: 14px;
    float: left;
    margin-top: 3px;
    margin-right: 13px;
}
.location{
    background: url(../static/imgs/location.png) no-repeat center center;
    background-size: contain;
}
.activityTime{
    background: url(../static/imgs/time.png) no-repeat center center;
    background-size: contain;
}
.activityNum{
    background: url(../static/imgs/personnum.png) no-repeat center center;
    background-size: contain;
}
.signName{
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #62656D;
    line-height: 22px;
}
.signText{
    height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #1F232F;
    line-height: 22px;
    /* margin-left: 20px; */
}
.signDown{
    width: 80px;
    height: 40px;
    background: #1A77FF;
    border-radius: 5px;
    margin: 36px auto 0;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
/* 活动风采 */
.activityShow_text{
    width: 100%;
    /* height: 100%; */
    background: #fff;
    margin-top: 20px;
    padding: 36px 26px;
    box-sizing: border-box;
}
.activityShow_imgs{
    width: 100%;
    margin-top: 24px;
}
.activityShow_imgs>li{
    width: 252px;
    height: 216px;
    border-radius: 5px;
    float: left;
    margin-right: 31px;
    margin-bottom: 31px;
    position: relative;
}
.activityShow_fixedBtn{
    width: 100%;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.06);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 78px;
}
.show_img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}
.show_img>img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.show_text{
    margin-top: 14px;
    text-align: center;
    width: 100%;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    position: relative;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.show_text_{
    position: relative;
}
.show_text_>.name{
    width: calc(100% - 55px);
}
.show_text>i,.show_text_>i{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../static/imgs/edit.png) no-repeat center center;
    background-size: cover;
    margin-left: 10px;
    position: absolute;
    top: 4px;
}
.show_text_>i{
    background: url(../static/imgs/imgsave.png) no-repeat center center;
    background-size: cover;
    margin-left:30px;
    margin-top: 5px;
}
.activityEdotor{
    width: 100%;
    padding: 36px 24px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin-top: 20px;
}
.deleteIMG{
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.deleteIMG>div{
    width: 16px;
    height: 22px;
    background: url(../static/imgs/delete.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* 报名管理页面 */
.activityApply_top{
    width: 100%;
    height: 88px;
    background: #FFFFFF;

}
.activityApply_top>h3{
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    line-height: 88px;
    padding: 0 20px;
    box-sizing: border-box;

}
.activityApply_top>h3>span{
    float: right;
}
.applysearch_box{
    width: 50%;
}
.applysearch_input{
    width: 60%;
}
.colSelect{
    width: 30%;
    float: right;
    text-align: right;
    position: relative;
}
.colLists{
    width: 260px;
    height: 159px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 99;
    padding: 24px;
    box-sizing: border-box;
}
.singleCol{
    float: left;
}
/* 活动分类 */
.activityclass_top{
    width: 100%;
    height: 68px;
    background: #FFFFFF;
    padding:0 20px;
    box-sizing: border-box;
}
.activityclass_top>h3{
    width:100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    line-height: 68px;
}
.activityclass_text{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background: #fff;
    margin-top: 20px;
}
.activityclass_table{
    width: 463px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    margin: 0 auto;
}
.actionBtn{
    margin-right: 15px !important;
}
/* 创建活动 */
.create_basic{
    width: 100%;
    background: #fff;
    margin-top: 20px;
}
.create_basic>h3,.create_detail>h3,.create_form>h3{
    width: 100%;
    height: 58px;
    line-height: 58px;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    text-indent: 20px;
    border-bottom: 1px solid #D7DBE0;
}
.create_upload,.create_upload1{
    width: 180px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D7DBE0;
    text-align: center;
    float: left;
}
.create_upload1{
    position: relative;
}
.create_upload1>img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.addupload{
    display: inline-block;
    width: 18px;
    height: 17px;
    margin: 0 auto;
    background: url(../static/imgs/add.png) no-repeat center center;
    background-size: cover;
    margin-top: 38px;
}
.create_upload>p{
    width: 100%;
    height: 17px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    line-height: 17px;
}
.uploadbtn{
    float: left;
    margin-left: 24px;
}
.create_basic .line{
    width: 14px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    border-left: none;
    margin: 0;
    text-align: center;
    margin: 10px 10px;
}
.create_basic>h3>span,.create_detail>h3>span{
    font-size: 14px;
    font-weight: 400;
    color: #1A77FF;
    line-height: 16px;
    float: right;
    height: 58px;
    line-height: 58px;
    margin-right: 24px;
    position: relative;
}
.create_basic>h3>span>i,.create_detail>h3>span>i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../static/imgs/save.png) no-repeat center center;
    background-size: cover;
    float: left;
    position: absolute;
    top: 21.5px;
    right: 40px;
    /* margin-right: 10px; */
}
.demo-ruleForm{
    padding: 36px 0;
    box-sizing: border-box;
}
.create_detail{
    width: 100%;
    height: 610px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px 0px rgba(102, 102, 102, 0.2);
    border-radius: 5px;
    margin-top: 20px;
}
.detailEditor{
    width: 100%;
    height: calc(100% - 58px);
    padding: 24px;
    box-sizing: border-box;
}
.create_form{
    width: 100%;
    min-height: 650px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    padding-bottom: 78px;
    box-sizing: border-box;
}
.create_switch{
    width: calc(100% - 369px);
    padding: 43px 24px;
    box-sizing: border-box;
}
.create_switch>span{
    display: inline-block;
    width: 50%;
}
.create_add{
    width: calc(100% - 48px);
    margin: 0 auto;
    height: 236px;
    border-radius: 5px;
    border: 1px dashed #979797;
    margin-top: 31px;
}
.created_add_{
    width: 54px;
    height: 54px;
    background: url(../static/imgs/add.png) no-repeat center center;
    background-size: cover;
    border: 1px solid #F8F8F8;
    margin: 0 auto;
    margin-top: 40px;
}
.create_add>p{
    margin-top: 24px;
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    text-align: center;
}
.created_fixedbtn{
    width: 100%;
    height: 78px;
    background: #FFFFFF;
    box-shadow: 0px -3px 6px 0px rgba(0, 0, 0, 0.06);
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 19px;
    box-sizing: border-box;
    z-index: 9;
}
.created_fixedbtn1{
    margin-left: 44px !important;
}
.create_add_detail{
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}
.create_add_detail>h4{
    width: 56px;
    height: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    line-height: 22px;
    margin-bottom: 24px;
}
.create_add_detail>div{
    margin-bottom: 24px;
    width: calc(100% - 369px);
}
.detail_input{
    width: 50%;
    height: 36px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    outline: none;
    text-indent: 10px;
}
.forms{
    width: 369px;
    /* height: 455px; */
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    position: absolute;
    right: 0;
    bottom:78px;
    padding: 31px 24px;
    box-sizing: border-box;
}
.forms>h4{
    width: 100%;
    height: 22px;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;
    margin-bottom: 21px;
}
.detailName{
    margin-left:40px;
    margin-right:32px;
    display: inline-block;
    width: 50px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #E6E6E6;
    line-height: 36px;
}
.userH4{
    margin-top: 47px;
}
.forms>div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forms>div>span{
    display: inline-block;
    width: 91px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #C9CED4;
    line-height: 36px;
    text-align: center;
    /* margin-right: 24px; */
    margin-bottom: 24px;
    
}
.forms>div>span.selectNormal{
    border: 1px solid #1A77FF;
    position: relative;
}
.selectNormal>i{
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url(../static/imgs/selected.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;

}
.preview,.save{
    float: right;
    margin-right: 24px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: #1A77FF;
}
.preview>i,.save>i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../static/imgs/see.png) no-repeat center center;
    background-size: cover;
    float: left; 
    position: absolute;
    top: 21.5px;
    right: 40px;
}
.save>i{
    background: url(../static/imgs/save.png) no-repeat center center;
    background-size: cover;
}
.nodata{
    width: 800px;
    height: 600px;
    margin-top: 20px;
    background: url(../static/imgs/nodatas.png) no-repeat center center;
    background-size: cover;
    margin: 0 auto;
}
/* 创建活动 */
.deletdIMG{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../static/imgs/delete.png) no-repeat center center;
    background-size: cover;
}
.delete_form{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../static/imgs/delete.png) no-repeat center center;
    background-size: cover;

}
.addchild{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../static/imgs/add.png) no-repeat center center;
    background-size: cover;
    position: absolute;
}
.typeADD{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../static/imgs/add.png) no-repeat center center;
    background-size: cover;
}
.typeEdit{
    position: absolute;
    right: 10px;
    top: 10px;
}
.formMutiply{
    width:50%;
    margin-left:186px;
    margin-top: 10px;
}
.formMutiply>span{
    position: relative;
    display: inline-block;
    height: 36px;
}
.formMutiply input{
    width:100px;
    height: 36px;
    text-indent:10px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-right:5px;
    border: 1px solid #E6E6E6;
}
.formMutiply>span>i{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../static/imgs/delete.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top:-7px;
    right: -3px;
    z-index: 99;
}