<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>title</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div class="container-fluid" id="app">
			<h2>选择批次号检查批次图书完整性</h2>
			<div>
				<label class="checkbox-inline" v-for="item in yuanshidir">
					<input type="checkbox" v-model="selectyuanshi" :id=item :value=item> {{item}}
				</label>
			</div>
			<button class="btn-primary" @click="getFull()">开始检查</button>
			
		</div>
		<script type="text/javascript" src="js/jquery-3.2.1.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		<script type="text/javascript" src="js/common.js" ></script>
		<script type="text/javascript" src="js/dkr.js" ></script>
		<script type="text/javascript" src="js/dao.js" ></script>
		<script type="text/javascript" src="js/index.js" ></script>
	</body>
</html>
