/*@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?z9rj18');
  src:  url('icomoon.eot?z9rj18#iefix') format('embedded-opentype'),
    url('icomoon.ttf?z9rj18') format('truetype'),
    url('icomoon.woff?z9rj18') format('woff'),
    url('icomoon.svg?z9rj18#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  !* use !important to prevent issues with browser extensions that change fonts *!
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  !* Better Font Rendering =========== *!
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-regiment-manage:before {
  content: "\e90d";
  color: #b8bbbe;
}
.icon-menu-party-regiment:before {
  content: "\e900";
  color: #b8bbbe;
}
.icon-menu-theory:before {
  content: "\e901";
  color: #b8bbbe;
}
.icon-menu-branch-search:before {
  content: "\e902";
  color: #b8bbbe;
}
.icon-menu-regiment:before {
  content: "\e903";
  color: #b8bbbe;
}
.icon-menu-regiment-search:before {
  content: "\e904";
  color: #b8bbbe;
}
.icon-menu-party-search:before {
  content: "\e905";
  color: #b8bbbe;
}
.icon-menu-party:before {
  content: "\e906";
  color: #b8bbbe;
}
.icon-menu-edit-records:before {
  content: "\e907";
  color: #b8bbbe;
}
.icon-menu-all:before {
  content: "\e908";
  color: #b8bbbe;
}
.icon-menu-account:before {
  content: "\e909";
  color: #b8bbbe;
}
.icon-menu-branch:before {
  content: "\e90a";
  color: #b8bbbe;
}
.icon-menu-member:before {
  content: "\e90b";
  color: #b8bbbe;
}
.icon-menu-personal:before {
  content: "\e90c";
  color: #b8bbbe;
}*/


@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?cysyxd');
  src:  url('icomoon.eot?cysyxd#iefix') format('embedded-opentype'),
  url('icomoon.ttf?cysyxd') format('truetype'),
  url('icomoon.woff?cysyxd') format('woff'),
  url('icomoon.svg?cysyxd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rule-icon:before {
  content: "\e900";
  color: #b8bbbe;
}
.science-resource-icon:before {
  content: "\e901";
  color: #b8bbbe;
}
.audit-icon:before {
  content: "\e902";
  color: #b8bbbe;
}
.service-icon:before {
  content: "\e903";
  color: #b8bbbe;
}
.practive-icon:before {
  content: "\e904";
  color: #b8bbbe;
}
.irrigate-icon:before {
  content: "\e905";
  color: #b8bbbe;
}
.science-education-icon:before {
  content: "\e906";
  color: #b8bbbe;
}

