/* tab左右切换动画 slide-left, slide-right */
.slide-left-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.slide-left-leave-to,
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-left-enter-active,
.slide-right-enter-active {
  transition: all ease 0.8s;
}

/* 搜索页渐隐放大动效 fade-size */
.fade-size-enter-active {
  animation: scale-in 0.8s;
}
@keyframes scale-in {
  0% {
    opacity: 0.1;
    transform: scale(0.9)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}

/* 列表一个一个缓入 列表加上class: animation-index */
@for $i from 1 through 10 {
  $time: ($i * 100 + 200) + ms;
  .animation-#{$i} {
    transition: all 1s ease-out;
    animation-name: toTop; // toBottom
    animation-duration: 1s; // 注释掉 会没有动画 就是帕帕一帧一帧的出来
    animation-fill-mode: both;
    animation-delay: $time;
  }
}
@keyframes toTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* 进展列表 展开收起 transiton-group  list */
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
.list-leave-active {
  transition: all 0.3s ease-out;
}
.list-enter-active {
  transition: all 0.5s ease-in;
}


/* 弹力+缩小放大 使用class: bounce-size */
.bounce-size .van-rate__item[aria-checked=true] {
  transition: all 0.4s ease-out;
  animation-name: bounce-size-in; 
  animation-duration: 0.4s; 
  animation-fill-mode: both;
}
/* 弹力+缩小放大 使用transition: bounce-size */
.bounce-size-enter-active {
  animation: bounce-size-in 0.4s;
}
@keyframes bounce-size-in {
  0% {
    opacity: 0.1;
    transform: scale(0.8)
  }
  90% {
    opacity: 0.8;
    transform: scale(1.2)
  }
  100% {
    opacity: 1;
    transform: scale(1)
  }
}
