
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
h1,h2,h3,h4,h5,h6 {font-size:100%}
/* address,cite,dfn,em,var {font-style:normal} */
code,kbd,pre,samp {font-family:courier new,courier,monospace}
small {font-size:12px}
ol,ul {list-style:none}
a {text-decoration:none}
a:hover {text-decoration:underline}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
legend {color:#000}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}
table {border-collapse:collapse;border-spacing:0}
*{
  cursor: pointer;
}
/* 清除浮动的代码 */
.clearfix:after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
.clearfix{
  zoom:1
}
.bind_right_ .el-input__inner{
  height: 49px !important;
}
.campus_right_  .el-input__inner{
  height: 49px !important;
}
 .pro_ .el-progress-bar__outer{
  background:rgba(205,225,255,1) !important;
}
.el-card__body{
  background: rgba(243,245,249,.7);
}
.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover{
  box-shadow: none;
  border: none;
}
.el-timeline-item__tail,.el-timeline-item__node--normal{
  top: 20px;
}
.el-timeline{
  width: 100%;
  height: calc(100% - 240px);
  overflow: auto;
}
.el-timeline-item__tail{
  left: 5px;
}
.el-timeline-item__node--normal{
  left: 0;
}
.el-timeline::-webkit-scrollbar,.study_content::-webkit-scrollbar,
.docdetail_::-webkit-scrollbar,
.arcdetail_auto::-webkit-scrollbar,
.vediodetail_auto::-webkit-scrollbar,
.examing_left::-webkit-scrollbar,
.examing_right_::-webkit-scrollbar,
.errlog_right_::-webkit-scrollbar,
.person_content_::-webkit-scrollbar{
  width: 0;
}
.mydown{
  display: inline-block;
  width:16px;
  height:14px;
  background:url(../../../static/img/down1.png);
  background-size: cover;
  float: left;
  margin-right: 10px;
}
.add_input .el-input__inner{
  border: none !important;
}
.video-js .vjs-current-time,
.video-js .vjs-duration,
.vjs-no-flex .vjs-current-time {
  display: block !important;
}
.intro ol,.intro ul,.vediodetail_title ol,.vediodetail_title ul {
  list-style: decimal !important;
  list-style-position: inside !important;
}




