$width-num: 390;
$width-rem: $width-num+rem;
$whole-width: 100vw/$width-num;

$c-orange: #FF9900;
$c-green: #006457;
$fixed-side: 16px;
$fixed-mb: 8px;

$arq: 1.414;

@mixin fz($fz: 14, $color: #8C8C8C, $fw: 400) {
    font-size: $fz + px;
    color: $color;
    font-weight: $fw;
    font-family: 'PingFang SC';
    font-style: normal;
}