<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
<meta charset="utf-8" />
<meta http-equiv="Content-Security-Policy">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <link rel="stylesheet" type="text/css" href="../../commjs/resources/css/ext-all.css"/>
    <link rel="stylesheet" type="text/css" href="../../commjs/extjs/ux/selectbox/BoxSelect.css"/>   

    <!-- GC -->
    <!-- LIBS -->
    <script type="text/javascript" src="../../commjs/extjs/core/ext-base.js"></script>
    <!-- ENDLIBS -->
    
    <script type="text/javascript" src="../../commjs/extjs/core/ext-all.js"></script>
    <script type="text/javascript" src="../../commjs/other/ext-lang-zh_CN.js"></script>
  <!--   <script type="text/javascript" src="../../commjs/other/md5.js"></script> -->
    <script type="text/javascript" src="../../commjs/config/akconfig.js"></script>
    <script type="text/javascript" src="../../commjs/comm/CommFunction.js"></script>
    <script type="text/javascript" src="../../commjs/comm/AkVtype.js"></script>
    <script type="text/javascript" src="../../commjs/extjs/ux/swfupload.js"></script>       
    <script type="text/javascript" src="../../commjs/extjs/ux/akupload.js"></script>
    <script type="text/javascript" src="../../commjs/extjs/ux/DateTimeField.js"></script>

    <script type="text/javascript">
    if ((typeof Range !== "undefined") && !Range.prototype.createContextualFragment)
    {
        Range.prototype.createContextualFragment = function(html)
        {
            var frag = document.createDocumentFragment(), 
            div = document.createElement("div");
            frag.appendChild(div);
            div.outerHTML = html;
            return frag;
        }
    }
    </script>
<!--     <script type="text/javascript" src="../../commjs/extjs/ux/selectbox/BoxSelect.js"></script> -->
    
    <script type="text/javascript" src="monthlyBookThemeStatisticsStore.js"></script>
    <script type="text/javascript" src="addForm.js"></script>
    <script type="text/javascript" src="monthlyBookThemeStatisticsGrid.js"></script>
    <script type="text/javascript" src="monthlyBookThemeStatisticsWindow.js"></script>
    <script type="text/javascript" src="monthlyBookThemeStatistics.js"></script>


    
    

    <script type="text/javascript">

</script>


</head>





<body> 


</body>
</html>

