* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*清除浮动代码*/
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.box {
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: auto;
}

.box_ {
	/* background: url(../img/detailback.png) no-repeat; */
	/* background: url(../img/learn.png) no-repeat; */
	background-color: #C7EDCC;
}

.left_top {
	width: 100%;
	height: 164px;
	text-align: center;
}

.time {
	display: inline-block;
	/*width:50%;*/
	height: 100%;
	font-size: 64px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #333333 !important;
	line-height: 164px;
}

.left_top_ .time {
	font-weight: 530;
	color: rgba(0, 0, 0, 1);
}

.left_down {
	width: 80%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*padding: 0 200px;*/
	box-sizing: border-box;
	margin: 0 auto;
}

.left_down>li {
	width: 48%;
	height: 50px;
	text-align: center;
	background: #D9CFCE;
	border-radius: 35px;
	line-height: 50px;
	margin-top: 40px;
	cursor: pointer;
}

.left_down_>li {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 41px;
	font-size: 30px;
	font-weight: 400;
	color: rgba(31, 35, 47, 1);
	/* white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden; */
}

.li_time {
	display: inline-block;
	/* width: 100%; */
	height: 100%;
	text-align: center;
	font-style: normal;
	font-size: 30px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 50px;
	margin-left: 20px;

}

.li_time {
	width: 100%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.left_down_ .li_time, .left_down_ {
	width: calc(50% - 20px);
	font-size: 23px;
	text-align: center;
}

.left_down>li>span {
	display: inline-block;
	width: 70%;
	border-radius: 50%;
}

.li_empty {
	width: 100%;
	height: 100%;
	line-height: 400px;
	font-size: 40px;
	text-align: center;
	color: #fff;
}

.main {
	width: 100%;
	height: 100%;
	background-color: #C7EDCC;
	overflow: auto;
}

._main {
	background: url("../img/learn.png") no-repeat center;
	background-size: 100% 100%;
}

.main::-webkit-scrollbar,
.main::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-track {
	display: none;
	margin-top: -1px;
	width: 0;
	height: 0;
	background: transparent;
}

.logo-wrapper {
	width: 100%;
	height: calc(5.56vh + 100px);
	position: relative;
}

.full {
	position: absolute;
	top: 0;
	right: 0;
}
.logo {
	float: right;
	margin-top: calc(5.56vh);
	/* margin-top: 60px; */
	margin-right: calc(4.17vw);
	/* margin-right: 80px; */
}

.middle-time {
	width: 100%;
	height: calc(51.57vh);
	display: flex;
	align-items: center;
}

.middle-time .left {
	flex: 1;
	margin: auto 0;
}

.detail-date {
	height: 308px;
	width: 444px;
	margin-right: 120px;
	float: right;
}

.detail-date .dtime {
	height: 252px;
	font-size: 180px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 252px;
	/* margin-left: -15px; */
}

.detail-date .day {
	height: 56px;
	width: 100%;
	font-size: 40px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 56px;
}

#detailToday {
	float: left;
}

#detailWeek {
	float: right;
}

.middle-time .empty {
	width: 6px;
	height: 368px;
	background: #FFFFFF;
	border-radius: 4px;
	opacity: 0.3;
	margin: 0 auto;
}

.middle-time .right {
	flex: 1;
	margin: auto 0;
}

.detail-info {
	height: 308px;
	width: 444px;
	margin-left: 120px;
	margin-bottom: -10px;
	float: left;
}

.detail-info .resname {
	height: 84px;
	font-size: 60px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 84px;
}

#restime {
	height: 50px;
	font-size: 36px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 50px;
	margin: 35px 0;
}

#btn-use {
	width: 280px;
	height: 96px;
	background: #01887A;
	border-radius: 10px;
	text-align: center;
}

#btn-use span {
	width: 120px;
	font-size: 40px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 96px;
}

#curEmpty {
	width: 320px;
	height: 96px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border: 2px solid #FFFFFF;
	text-align: center;
}

#curEmpty span {
	width: 160px;
	height: 56px;
	font-size: 40px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #888888;
	line-height: 96px;
}

.hide {
	/* visibility:hidden; */
	display: none;
}

.today-ref {
	width: 216px;
	height: 50px;
	font-size: 36px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 50px;
	margin-left: calc(4.17vw);
}

.today-reftime {
	margin: calc(2.78vh) calc(4.17vw) 0 calc(4.17vw);
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	width: calc(91.66vw);
}

.today-reftime li {
	width: 410px;
	height: 120px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	border: 2px solid #FFFFFF;
	text-align: center;
	margin-right: calc(2.08vw);
	margin-bottom: calc(1.08vw);
	flex-basis: 21.35%;
}

.li-reftime {
	font-size: calc(100vw * 40 / 1920);
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #373737;
	line-height: 120px;
}

.app_empty {
	width: 100%;
	text-align: center;
	height: 50px;
	font-size: 36px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #888888;
	line-height: 50px;
	margin-top: 65px;
}