@font-face {
  font-family: "iconfont"; /* Project id 3202769 */
  src: url('iconfont.woff2?t=1650435447962') format('woff2'),
       url('iconfont.woff?t=1650435447962') format('woff'),
       url('iconfont.ttf?t=1650435447962') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rgks:before {
  content: "\e63f";
}

.icon-grzx:before {
  content: "\e641";
}

.icon-scan:before {
  content: "\e657";
}

.icon-learn-1:before {
  content: "\e658";
}

.icon-learn-3:before {
  content: "\e659";
}

.icon-learn-2:before {
  content: "\e65a";
}

.icon-qjdl:before {
  content: "\e65d";
}

.icon-time:before {
  content: "\e65f";
}

.icon-menu-question:before {
  content: "\e65e";
}

.icon-menu-xtgl:before {
  content: "\e61f";
}

.icon-menu-chart:before {
  content: "\e620";
}

.icon-menu-exam:before {
  content: "\e65b";
}

.icon-menu-train:before {
  content: "\e65c";
}

