<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>地理库管理</title>

    <link rel="stylesheet" type="text/css" href="/commjs/resources/css/ext-all.css"/>
	<link rel="stylesheet" type="text/css" href="/commjs/css/comm.css"/>
    <!-- GC -->
    <!-- LIBS -->
    <script type="text/javascript" src="/commjs/extjs/core/ext-base.js"></script>
    <!-- ENDLIBS -->
    <script type="text/javascript" src="/commjs/extjs/core/ext-all-debug.js"></script>
    <script type="text/javascript" src="/commjs/other/ext-lang-zh_CN.js"></script>
    
    <script type="text/javascript" src="/commjs/comm/Fix.js"></script>
    <script type="text/javascript" src="/commjs/comm/AkVtype.js"></script>
    <script type="text/javascript" src="/commjs/extjs/ux/ExFormPanel.js"></script>
    <script type="text/javascript" src="/commjs/comm/MessOnly.js"></script>
	<script type="text/javascript" src="/commjs/comm/ErrHandler.js"></script>
	<script type="text/javascript" src="/commjs/comm/ErrMessDialog.js"></script>
	<script type="text/javascript" src="/commjs/comm/App.js"></script>
	
    <script type="text/javascript" src="edit.js"></script>
	<script type="text/javascript" src="MainPanel.js"></script>
	
	
</head>
<body>

</body>
</html>