<html>

<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
<meta charset="utf-8" />
<meta http-equiv="Content-Security-Policy">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" type="text/css" href="/commjs/resources/css/ext-all.css"/>
	<script type="text/javascript" src="/commjs/extjs/core/ext-base.js"></script>
    <script type="text/javascript" src="/commjs/extjs/core/ext-all.js"></script>
    <script type="text/javascript" src="/commjs/other/ext-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/commjs/config/akconfig.js"></script>
    <script type="text/javascript" src="/commjs/comm/CommFunction.js"></script>
    <script type="text/javascript" src="/commjs/comm/AkVtype.js"></script>

</head>


<body> 
<form style="margin:20px;">
	<label>客服电话：</label><input id="phone" type="text" name="phone" autocomplete="off" >	
</form>
<button style="background-color:#57a3f0;color:#fff;border:none;padding:3px 10px;margin-left:215px;" onclick="savePhone();">保存</button>
<script type="text/javascript">
	var data = {};
	function init_params(){
	
		 Ext.Ajax.request({
			url:akconfig.url+'rest/Cfg/list',
			method:'post',
			params:{data:JSON.stringify({"page":1,"limit":10})},
			success:function(conn, response, options){
				
				var result=eval('('+conn.responseText+')');
				data = result.items[0];
				document.getElementById('phone').value = data.CFGVALUE.CUSTOMERPHONE;
			
			}
		});
	}
	function savePhone(){
		data.CFGVALUE.CUSTOMERPHONE = document.getElementById('phone').value;
		Ext.Ajax.request({
			url:akconfig.url+'rest/Cfg/save',
			method:'post',
			params:{data:JSON.stringify(data)},
			success:function(conn, response, options){	
				Ext.MessageBox.alert("提示","保存成功");
			}
		});
	}
	init_params();
</script>
</body>
</html>

