@import "./reset";

html,
body {
    font-size: 14px;
    font-weight: 400;
    font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
}

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 单行省略 */
.ellipsis {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* tooltip */
.el-tooltip__popper {
    max-width: 350px;
}

// 走马灯
.el-carousel {
    .el-carousel__indicator {
        .el-carousel__button {
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background: #D2D2D2;
            opacity: 1;
        }

        &.is-active .el-carousel__button {
            width: 20px;
            background: #6576E9;
        }
    }
}

.orange-btn {
    color: #ffffff;
    background: #f68447;
    border-color: #f68447;

    &:hover,
    &:focus {
        background: #e3783f;
        border-color: #e3783f;
        color: #ffffff;
    }

    &.is-disabled {
        background: #fac9a5;
        border-color: #fac9a5;
        color: #ffffff;

        &:focus,
        &:hover {
            background: #fac9a5;
            border-color: #fac9a5;
            color: #ffffff;

        }
    }
}

//button 样式
.el-button.bule-border {
    border-color: #3A78FC;
    color: #3A78FC;
  }