*{margin:0px; padding:0px;font-size: 1em;color: #BD986A;}
body{
	/*background: url(../img/bg.png) no-repeat;*/
	background-color:#EEE8D4;
	background-size: 100% 100%;
}

.content{
	margin: 0 auto;
	min-width: 1024px;
	/*//width: 1390px;*/
	/*height: 1006px;*/
	/*border: 1px solid red;*/
}

.search{
    height: 62px;
}
.search > input{
	width:300px;
    height: 38px;
    background: #000000;
    opacity: 0.2;
    color: #fff;
    border: none;
    text-align: left;
    margin-top: 12px;
    padding-left: 20px;
}
.search .icon-search{
	/*background: url(../img/index_24.png);*/
	/*background-repeat: no-repeat;*/
	width: 20px;
    height: 20px;
    position: relative;
    left: -32px;
}
.search .operation{
	float: right;
	line-height: 62px;
	margin-right: 8px;
}
.operation > img,a{
	margin: 0px 4px;
	color: #BD986A;
}
.introTypeSet{
	height: 62px;
    background: #F8F4E5;
    font-weight: 600;
}
.introTypeSet .bookInfo{
	line-height: 62px;
	float: left;
	margin-left: 30px;
}
.introTypeSet .showStyle{
	float: right;
	line-height: 62px;
}
.showStyle img{
	margin: 0px 8px;
}
.catalogContent{
	/*height: 850px;
	margin-top: 12px;
	clear: both;*/
	/*height: 850px;*/ 
	/*min-height: 1102px;*/
    margin-top: 12px;
    display: flex;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    clear: both;
}
.catalogContent .catalog{
	/*width:216px;*/
	/*min-width: 216px;  
	float: left;
	height: 850px;
	background: #F8F4E5;
	border: 3px solid #F5ECD4;*/
	 
    min-width: 216px;
    /* float: left; */
    /* height: 850px; */
    background: #F8F4E5;
    border: 3px solid #F5ECD4;
}
.catalog ul{
	list-style: none;
	padding-left: 14px;
	line-height: 30px;
	width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
	color: #000;
}
.catalog ul li a{
	color: #000;
}
.catalog h4{
	padding: 26px 18px;
    margin: 0px;
}
.catalogContent .showcontent{
	/*width:1166px;*/
    /*min-width: 805px;
    margin-left: 229px;
	height: 850px;
	background: #F8F4E5;
	border: 3px solid #F5ECD4;*/
	min-width: 810px;
    margin-left: 8px;
    /* float: right; */
    /* height: 850px; */
    background: #F8F4E5;
    flex-grow: 1;
    border: 3px solid #F5ECD4;
}
.showcontent .zoomIn{
	height: 52px;
	border-bottom: 1px solid #F3E6C8;
}
.zoomIn > div{
	/*float: left;*/
	height: 50px;
	border-right: 1px solid #F3E6C8;
	width: 50px;
	display: inline-block;
	text-align: center;
	/*position: relative;*/
}
.zoomIn div a img{
	/*margin-top: 15px;*/
	margin: 15px auto;
	/*position: absolute;
    top: 25%;
    left: 25%;*/
	
}
#div_pager{
	float: right;
	margin: 0px;
    line-height: 52px;
	margin-right: 21px;
	clear: none;
}
.showcontent .articleContent{
	/*clear: both;*/
	/*height: 794px;*/
	padding: 46px;
	display: flex;
	/*pointer-events: none;*/
}
.articleContent .wordContent{
	/*height: 702px;*/
	/*float: left;*/
	overflow: hidden;
	/*width: 70%;*/
	margin: 0 auto;
	/*flex-grow: 1;*/
	min-height: 1400px;
	/*display: none;*/
	/*width: 490px;*/
	/*border: 1px solid black;*/
}

.wordContent > p{
	text-indent: 2rem;
	color: #000;
	line-height: 28px;
	white-space: pre-line;
	height: 644px;

}
.articleContent .scanning{
	/*height: 702px;*/
	margin-left: 3px;
	text-align: center;
	/*width: 500px;*/
	/*float: right;*/
	/*background: #fff;*/
	flex-grow: 1;
	display: none;
	pointer-events: none;
	/*border: 3px solid #F5ECD4;*/
}
.articleContent .allPicture{
	/*border: 2px solid #F5ECD4;*/
    /*height: 702px;*/
    display: none;
    pointer-events: none;
    /*width: 500px;*/
    margin: 0 auto;
}
.articleContent .allPicture > .pictureLeft{
	border-right: 2px solid #F5ECD4;
    /*height: 702px;*/
    width: 534px;
    float: left;
}
.articleContent .allPicture > .pictureRight{
	float: right;
}
.allPicture img{
	width: 100%;
	/*height: 100%;*/
}
.scanning > img{
	width: 100%;
	/*height: 100%;*/
	/*height: 100%;
	width: 100%;*/
}

.node_name{
	color: #000;
}

.ztree li span.button.switch{display:none;}
.ztree li span {line-height:16px; margin-right:2px;color: #000;font-size: 14px;}

.ztree li span:hover{background: #000;color: #fff;opacity: 0.6;}
.ztree li .active{background: #000;color: #fff;opacity: 0.6;}

iframe{
	width: 100%;
	height: 100%;
	border: none;
}

/*树的显示*/
.level0 > .node_name{
	width: 172px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.level1 > .node_name{
	width: 152px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.level2 > .node_name{
	width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.level3 > .node_name{
	width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.jump-ipt{
	width: 52px;
    height: 24px;
}


/*返回顶部*/
.backtop{
	position: fixed;
    bottom: 120px;
    right: 100px;
    width: 50px;
    height: 50px;
    background: #000;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;
    display: none;
}

.backtop img{
	/*//background: rgb(69, 197, 237);*/
    margin: 9px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar
{  
    width: 16px;  
    height: 16px;  
    /*display: none;*/
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    /*display: none;*/
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb
{  
    border-radius: 10px;  
    /*display: none;*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

.highlight{
	color:red;
}
em{
	font-style: normal;
    color: #c00;
}

.protroInfo{
	position: absolute;
}
