// 颜色定义规范
$color-background: #f8f8f8;     // 页面背景
$logo-background: #1B2032;   // 左侧菜单背景
$sidebar-background: #30364c;   // 左侧菜单背景
$sidebar-background-h: #505772; // 左侧菜单hover背景
$container-background: #ffffff; // 容器背景
$container-box-shadow: #c9c9c9; // 容易阴影
$color-text: #172535;           // 字体颜色
$main-color: #1a77ff;           // 主题色
$main-color-text: #0ad7d8;      // 主题字体色

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
