*{margin:0px; padding:0px;font-size: 1em;color: #BD986A;text-align: center;}

body{
	background: url(../img/bg.png) no-repeat;
	background-color:#fffcf1;
	background-size: 100% 100%;
}
.lunbo > .titlePic{
	position: absolute;
	background: url(../img/logo.png);
    left: 50%;
    width: 1002px;
    background-size:1002px 80px;
    margin-left: -500px;
    top: 24px;
    z-index: 100;
}

.titlePic > .userIcon{
	margin: 32px 0px;
	margin-left: 232px;
}
.titlePic > div{
	float: right;
	margin: 0px 31px;
	width:250px;
}
.titlePic div > img{
	margin: 22px 12px;
    /*margin-left: -217px;*/
}
.titlePic div > .custumerName{
	position: absolute;
    top: 20px;
}
.titlePic div > .custumerPhone{
	position: relative;
    top: 10px;
    font-weight: 600;
}
.titlePic .login{
	position: absolute;
    top: 30px;
    left:670px;
    cursor: pointer;
    color:#0056A6;
}
.titlePic span{
	font-weight: 600;
    font-size: 15px;
    
}

.titlePic .schoolname{
	position: relative;
    top: 3px;
    left: 0px;
}

.search{
	position: absolute;
    left: 50%;
    height: 42px;
    top: 230px;
    width: 816px;
    margin-left: -408px;
    z-index: 10;
}
.search > input{
	width: 577px;
    height: 38px;
    background: #000000;
    opacity: 0.7;
    color: #fff;
    border: none;
    padding-left:20px;
    text-align: left;
    /*margin-right: 14px;*/
}
.search > button{
	height: 38px;
    width: 76px;
    background: #000000;
    opacity: 0.5;
    color: #fff;
    border: none;
    outline: none;
    margin: 0px 10px;
    /*margin-right: 14px;*/
}
.search .icon-search{
	/*background: url(../img/index_24.png);*/ 
	/*background-repeat: no-repeat;*/
	width: 20px;
    height: 20px;
    position: relative;
    left: -28px;
}

/*子页面标题*/
.content .lunbo > .titlePic{
	position: relative;
	background: url(../img/logo.png);
    left: 50%;
    width: 1002px;
  	background-size:1002px 80px;
    margin-left: -500px;
    top: 28px;
    clear: both;
}

/*子页面查询*/
.content .lunbo > .search{
	position: relative;
    left: 50%;
    height: 42px;
    top: 110px;
    width: 918px;
    margin-left: -455px;
    color: #fff;
    /*width: 816px;
    margin-left: -408px;*/
}

/*子页面查询复选框*/
.search > input:nth-child(3){
	margin-right: 8px;
	/*width: 577px;
    height: 38px;
    background: #000000;
    opacity: 0.5;
    color: #fff;
    border: none;
    margin-right: 14px;*/
}

/*显示内容*/
.content{
	margin: 0 auto;
	clear: both;
	/*margin-top: 26px;*/
	width: 1002px;
	/*background-color:#F4F2E6;*/
	
}

.content .lunbo .swiper-wrapper{width:100%;list-style: none;text-align: center;height: 182px;}
.content .lunbo .swiper-wrapper .swiper-slide img{width:100%;height: 100%;}

/*底部内容*/
.bottom{
	height: 166px;
	/*padding: 40px;*/
	clear: both;
	text-align: center;
	background-color:#1D2D41;
}
p span{
	margin: 0 5;
}

.bottomcontent{
	/*position: relative;
    bottom: 10px;*/
}

.bottomcontent p{
	margin: 0px;
}
.bottomcontent .operateGruide{
	font-size: 16px;
	margin-bottom: 4px;
}

.bottom img{
	position: relative;
    top: -30px;
}

 #note{position:absolute;width:150px;padding:8px;background:red;left:40%;z-index:9999;display:none;color: #fff;} 
 
 .jump-ipt{
	width: 40px;
    height: 24px;
}


/*//引用标题的样式*/
.layui-layer-title{
	text-align: left;
}
.layui-layer-title span{
	color: #000;
}
.p-download{
	text-align:left;
	cursor:pointer;
}

/**登录**/
.login-div{
	background-color:#FFFCF1;
	position: absolute;
    top: 65px;
    left:670px;
    padding:20px;
	width:300px!important;
	height:248px;
	z-index:1000;
	margin:0!important;
	display:none;
}
.login-div >p {
	text-align: left;
    color: #0056A6;
    font-weight: bold;
    font-size: 18px;
}
.login-div >input{
	width:260px;
	height:32px;
	margin:5px 0;
	text-align:left;
	padding:0 10px;
	color:#666;
}

.login-div >input.yzm{
	width:168px;
	float:left;
}
.login-div > img {
    display: inline!important;
    width: 86px;
    margin: 4px 0 0 0!important;
}
.login-div >button{
  background-color: rgba(0, 86, 166, 1);
  border-radius: 5px;
  height: 36px;
  margin-top: 10px;
  width: 260px;
  color: rgba(255, 255, 255, 1);
}
.login-div >p.login-error {
	color: red;
    text-align: center;
    display: block;
    font-size: 14px;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: -8px;
}

.fullimage{
	display:none;
	margin-left:10px;
}