@import "./reset.scss";

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
}
/* 清除浮动 */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*单行省略*/
.ellipsis {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 左侧菜单 */
.el-submenu__title {
  height: 50px !important;
  line-height: 50px !important;
  padding-left: 30px !important;
}

.el-submenu__title:hover,
.el-menu-item:hover {
  background: #3d7fff !important;
  color: #fff !important;
  &:hover {
    .iconfont {
      color: #fff;
    }
  }
}

/* tooltip */
.el-tooltip__popper {
  max-width: 350px;
}

/* 通用的白色背景样式 */
.bg-white {
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* 通用的带查询的表格样式 */
.base-search-table {
  padding: 0;
  .search-box {
    padding: 0 24px ;
    height: 80px;
    line-height: 80px;
    .go-back {
      color: #3f86f7;
      font-size: 14px;
      cursor: pointer;
    }
    h3 {
      display: inline-block;
      width: 20%;
      min-width: 150px;
      font-size: 16px;
      font-weight: 500;
      color: #333333;
    }
    .search-box-right {
      float: right;
      max-width: 80%;
      .el-select {
        width: 120px;
        margin-right:20px;
      }
      .input-box {
        width: 300px;
      }
      .el-divider--vertical {
        height: 32px;
      }
    }
  }
  .el-table::before{
    background: #fff !important;
  }
  .el-table {
    margin-top: 0px;
    padding:0 24px 24px;
    .table-header {
      th {
        padding: 10px 0;
        background: #FAFAFA;
        color: #666666;
        font-weight: 500;
        font-size: 14px;
        .cell {
          line-height: 34px;
        }
      }
      th.require {
        .cell::before {
          content: "*";
          color: #ff0000;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
    /*鼠标移入某行时的背景色*/
    .el-table__body tr:hover > td {
      background-color: #E7F1FF !important;
    }
    th,
    td {
      border-bottom: 1px solid #EEEEEE;
    }
    .cell {
      span {
        color: #3D7FFF;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }
    .img-column {
      padding: 5px 0;
      .cell {
        img,
        .icon-div {
          width: 36px;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }
    }
  }

  .pagination-box {
    text-align: right;

    .el-pagination{
      background-color: #ffffff;
      padding-right: 20px;
      padding-bottom: 20px;
    }
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .el-pager li {
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

}

/* 弹窗样式 */
.common-dialog {
  .el-dialog__header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);

  .el-dialog__title {
    font-size: 16px;
    font-weight: 500;
  }
}
.el-dialog__body {
padding: 20px 30px;
}
}

/* 通用弹窗样式 */
.base-dialog {
  .el-dialog__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    .el-dialog__title {
      font-size: 16px;
      font-weight: 500;
    }
  }
  .el-dialog__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
  }
}

/* 通用的小弹窗样式 */
.base-small-dialog {
  line-height: 24px;

  .el-dialog {
    margin-top: 0 !important;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }

  .el-dialog__header {
    padding: 12px;
    border-bottom: 1px solid #eeeeee;

    .el-dialog__title {
      font-size: 14px;
      color: #3a3a3a;
    }

    .el-dialog__headerbtn {
      top: 14px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .el-dialog--center .el-dialog__body {
    padding: 20px 10px;

    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .el-dialog__footer {
    padding: 8px 10px;
    border-top: 1px solid #eeeeee;

    .el-button {
      width: 100%;

      &.el-button--small {
        font-size: 14px;
        padding: 8px 15px;
      }
    }
  }
}


// 登录
.login-form {
  .el-form-item {
    margin-bottom: 30px;
  }
  .el-input__inner {
    height: 48px;
    border-radius: 30px;
    background: #F7F5FB;
    border-color: transparent;
  }
}

// confirm弹窗
.el-message-box__message p {
  white-space: pre-wrap;
}

.el-radio__input.is-checked + .el-radio__label {
  color: #333 !important;
}

.form-section {
  margin-bottom: 24px;
  background: #fff;
  .search-box {
    padding: 15px 24px;
    line-height: 30px;
    border-bottom: 1px solid #d7dbe0;
    background: #fff;

    h3 {
      display: inline-block;
      width: 20%;
      min-width: 150px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      font-weight: 500;
      color: #333333;
    }
    .search-box-right {
      float: right;
      max-width: 80%;
      .go-back {
        cursor: pointer;
      }
      span {
        color: #666666;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }
}

// 灰色背景区
.gray-bg {
  background: #f9f9fa;
  border-radius: 3px;
  width: 700px;
  padding: 24px 0px 24px 24px;
}
.rule-content {
 color: #333;
  margin: 0 auto;
  padding: 24px ;
  background: #fff;
  margin-bottom: 24px;
  .input-width {
    width: 96px;
  }
  .wd-100 {
    width: 100px;
  }
  .mg-bt{
    margin-bottom: 24px;
  }
  .mg-bt10{
    margin-bottom: 14px;
  }

  .mg-rt {
    margin-right: 12px;
    display: inline-block;
  }
  .mg-lf {
    margin-left: 12px;
    display: inline-block;
  }
  .tips {
    color: #f23c3c;
    margin-left: 10px;
  }
  .time-picker {
    width: 135px;
    margin: 0 12px;
  }
  .radio-col {
    width: 100%;
    padding-bottom: 26px;
  }
  .radio-col:nth-last-child(1) {
    width: 100%;
    padding-bottom: 0px;
  }
}

// element的颜色 表单颜色 
.el-radio__label,.el-input__inner{
color: #333;
}

.el-input-group__append{
  background-color: #3D7FFF !important;
  color: #fff !important;
  border: 1px solid #3D7FFF !important;
  padding: 0 10px !important;
}


.wall {
  background: url("~@/assets/img/wall.png") no-repeat center;
  background-size: cover;
  display: block;
}
.window {
  background: url("~@/assets/img/window.png") no-repeat center;
  background-size: cover;
  display: block;
}
.door {
  background: url("~@/assets/img/door.png") no-repeat center;
  background-size: cover;
  display: block;
}
.pass {
  background: url("~@/assets/img/pass.png") no-repeat center;
  background-size: cover;
  display: block;
}
.pillar {
  background: url("~@/assets/img/pillar.png") no-repeat center;
  background-size: cover;
  display: block;
}
.seat {
  background: url("~@/assets/img/seat.png") no-repeat center;
  background-size: cover;
  display: block;
}

.my-seat {
  background: url("~@/assets/img/my-seat.png") no-repeat center;
  background-size: cover;
  display: block;
}
.interval-seat{
  background: url("~@/assets/img/interval-seat.png") no-repeat center;
  background-size: cover;
  display: block;
}

// 无数据情况
.nodata {
  width: 800px;
  margin: 100px auto;
  padding: 60px 0;
  text-align: center;
  border-radius: 5px;
  img {
    width: 209px;
    height: 153px;
    background: #FCFDFD;
  }
  p {
    font-size: 14px;
    color: #999999;
    line-height: 24px;
    margin: 23px 0 10px;
  }
  .right-btn {
    position: absolute;
    right: 20px;
    top: -100px;
  }
}

 
 