@import "./reset.scss";

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus {
      outline: none;
  }
}

html,
body {
  font-size: 28px;
  font-weight: 400;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
}

/* 清除浮动 */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*单行省略*/
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 暂无数据 */
.nodata {
  margin: 100px auto;
  padding: 60px 0;
  text-align: center;
  img {
    width: 180px;
    height: 144px;
  }
  p {
    font-size: 14px;
    color: #cccccc;
    line-height: 20px;
    margin: 20px 0 10px;
  }
}


  //手机端 样式 
  .nav-tab .van-tab--active {
    color: #3F86F7;
}
.nav-tab .van-tabs__line{
  background-color:#3F86F7;
}

.van-dialog__confirm, .van-dialog__confirm:active{
  color: #3F86F7 !important;
}
// 资源card样式 home列表 资源搜索列表 更多资源列表
.res-card {
  color: #474d51;
  line-height: 20px;
  padding: 32px 0;
  display: flex;
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    font-weight: 600;
    color: #586add;
  }
  .img-box {
    width: 180px;
    height: 135px;
    display: inline-block;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .right-box {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    margin-left: 24px;

    .name {
      height: 38px;
      font-size: 32px;
      font-weight: 600;
      color: #474d51;
      line-height: 38px;
      display: block;
      .search-text {
        color: #586add !important;
      }
    }
    .res-des {
      margin-top: 24px;
      height: 72px;
      font-size: 24px;
      font-weight: 400;
      color: #7d7d80;
      line-height: 36px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      text-overflow:ellipsis;
      //超出多少行显示省略号
      -webkit-line-clamp: 2;
    }
  }
}

.el-form-item__label {
  font-size: 28px;
height: 33px;
font-weight: 600;
color: #474D51;
line-height: 33px;
margin-top: 16px ;
}
.el-input__inner{
  line-height: 88px;
  height: 88px;
  border: none;
  border-bottom: 1px solid #E5E5E5 ;
  margin-bottom: 16px ;
}