@import "reset.scss";
@import "animation.scss";

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft YaHei', 'Helvetica-Light', 'STHeitiSC-Light', arial, sans-serif, 'Hiragino Sans GB', 'HeitiSC';
  font-size: 24px;
}

// 清除浮动
.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 不换行
.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展点击区域
.extend-click {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}

/*单行省略*/
.ellipsis {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/*顶部导航*/
.van-nav-bar {
  .van-icon {
    color: #000000 !important;
  }
}

/*底部导航*/
.van-tabbar {
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
}

/*动画*/
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-leave-to {
  opacity: 0;
  transform: translateX(-100%);
  position: absolute;
}


// 时间线
.process-timeline {
  &.el-timeline .el-timeline-item:last-child {
    padding-bottom: 0;
    .el-timeline-item__tail {
      display: block;
      height: 100%;
    }
  }
  .el-timeline-item__tail {
    border-width: 1px;
    left: 10px;
  }
  .el-timeline-item__node--normal {
    width: 24px;
    height: 24px;
  }
  .el-timeline-item__wrapper {
    padding-left: 48px;
  }
}

.el-table {
  background: #f8f8f8 !important;

  tr {
    height: 35px;
    // line-height: 35px;
    color: #1c2026;
  }

  thead,
  thead.is-group {
    th {
      background: #e7e9ef;
    }


    .cell {
      font-size: 12px;
      font-weight: bold;
    }
  }

  tbody {
    font-size: 10px;

    tr:nth-child(even) {
      background: #f3f5f9;
    }

    .cell {
      font-size: 12px;
    }
  }
  .el-table__body-wrapper {
    overflow-y: scroll !important;
  }
  .el-table__append-wrapper {
    position: sticky;
    left: 0;
    .van-loading,
    p {
      line-height: 35px;
      text-align: center;
      color: #b6bdc6;
      padding-bottom: 80px;
      cursor: pointer;
    }
  }

  .el-table__append-gutter {
    height: 115px;
  }

  &.el-table--group {
    th {
      border-color: rgba(255, 255, 255, 0.3);
      padding: 0;
    }

    td {
      border: 0;
    }
  }
  .el-table__empty-block {
    text-align: left;
    .el-table__empty-text {
      width: calc(100% - 200px);
    }
  }

}