// @import "./reset.scss";
@import "./mixin.scss";
@import "./variable.scss";

body{
  margin: 0;
  padding: 0;
}

.common-content{
  background:rgba(255,255,255,1);
  box-shadow:0px 1px 3px 0px rgba(102,102,102,0.2);
  border-radius:3px;
  padding: 15px 30px;
}



/*外层轨道*/
.my-scroll::-webkit-scrollbar {
  width:8px!important;
  height:2px!important;
  background:#F9F9FB!important;
  border-radius:10px!important;
}

/*内层轨道*/
.my-scroll::-webkit-scrollbar-thumb{
  display:block!important;
  width:8px!important;
  margin:0 auto!important;
  border-radius: 5px!important;
  background:#B6BDC6!important;
}

//单选中按钮修改颜色
.my-radio .el-radio__inner{
  width: 16px;
  height: 16px;
  text-align: center;
}

.my-radio .el-radio__inner::after{
  content: "\2714";
  color: #fff;
  position:initial;
  background-color:transparent;
}

.el-radio.my-radio-without-name{
  width: 16px;
  overflow: hidden;
  margin: 0 5px;
  vertical-align: middle;
}

.el-checkbox.my-radio-without-name{
  width: 18px;
  overflow: hidden;
  margin: 0 5px;
  vertical-align: middle;
}



//原生单选框样式修改
input[type="radio"].my-radio{width:16px;height:16px;display: inline-block;text-align: center;vertical-align: middle; position: relative;margin-top: 0;}
input[type="radio"].my-radio::before{content: "";position: absolute;top: -1px;left: -1px;background: #fff;width: 100%;height: 100%;border: 1px solid #d9d9d9;border-radius: 50%}
input[type="radio"].my-radio:checked::before{content: "\2713";position: absolute;top: -1px;left: -1px;width:100%;border: 1px solid #409EFF;color: #ffffff;font-size: 12px;font-weight: bold;background:#409EFF;}

input[type="checkbox"].my-checkbox{width:16px;height:16px;display: inline-block;text-align: center;vertical-align: middle; position: relative;margin-top: 0;}
input[type="checkbox"].my-checkbox::before{content: "";position: absolute;top: -1px;left: -1px;background: #fff;width: 100%;height: 100%;border: 1px solid #d9d9d9;border-radius: 3px;}
input[type="checkbox"].my-checkbox:checked::before{content: "\2713";position: absolute;top: -1px;left: -1px;width:100%;border: 1px solid #409EFF;color: #ffffff;font-size: 12px;font-weight: bold;background:#409EFF;}

//升降序样式
.el-table .ascending .sort-caret.ascending{
  border-bottom-color: #00CBA9
}

.el-table .descending .sort-caret.descending{
  border-top-color:#00CBA9
}

//状态颜色
.status-green::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: #00CBA9;}
.status-blue::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: #047184;}
.status-grey::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: #B6BDC6;}
.status-orange::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: #FAAC16;}
.status-red::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: #FE3E61;}
.status-purple::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: mediumpurple;}
.status-black::before{width: 8px;height: 8px;display: inline-block;content:"";margin-right: 8px;border-radius: 50%;background: black;}

.el-image-viewer__canvas{
  img{
    max-height: 80%!important;
  }
}

table tr th{
  .cell{
    text-align: center!important;
  }
}

.choose-eat-type::after{
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}

.live-list{
  .el-col{
    height: 62px;
  }
}

//菜单icon
.menu-user-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-user-icon.png") no-repeat};
.menu-study-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-study-icon.png") no-repeat};
.menu-edu-icon{width: 22px;height: 16px;background: url("../../../static/images/menu-edu-icon.png") no-repeat};
.menu-count-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-count-icon.png") no-repeat};
.menu-search-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-search-icon.png") no-repeat};


.el-menu-item.is-active .menu-user-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-user-icon-active.png") no-repeat!important};
.el-menu-item.is-active .menu-study-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-study-icon-active.png") no-repeat!important};
.el-menu-item.is-active .menu-edu-icon{width: 22px;height: 16px;background: url("../../../static/images/menu-edu-icon-active.png") no-repeat!important};
.el-menu-item.is-active .menu-count-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-count-icon-active.png") no-repeat!important};
.el-menu-item.is-active .menu-search-icon{width: 18px;height: 18px;background: url("../../../static/images/menu-search-icon-active.png") no-repeat!important};


// .el-menu-item.is-active{
//   border-left: 4px solid #00B09B!important;
// }

// .el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
//   color: #00B09B;
//   cursor: pointer;
// }

// tab样式
.my-tabs .el-tabs__item{
  height: 45px;
  line-height: 45px;
}

.my-tabs .el-tabs__nav-wrap::after{
  height: 1px;
}

.my-tabs-wrap{
  position: relative;
}

.my-tabs-wrap .my-tabs-btns{
  position: absolute;
  right: 0;
  top: 0;
}

// 表格样式
.my-table tr th{
  background: #F3F5F9;
}

//表格内操作按钮
.table-btn{
  background:rgba(227,249,245,1);
  border-radius:2px;
  padding: 0 15px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 23px;
  // margin-right: 10px;
  }

.white{
  border:1px solid rgba(182,189,198,1);
  color: #383A48;
  background:#FFFFFF;
}

.green{
  border:1px solid rgba(0,176,155,1);
  color: #00B09B;
  background:rgba(227,249,245,1);
}

.pink {
  border:1px solid #FE3E61;
  color: #FE3E61;
  background:rgba(255,234,237,1);
}

.orange{
  background:rgba(250,172,22,0.22);
  border:1px solid rgba(250,172,24,1);
  color: #FAAC16;
}

.blue{
  background:rgba(203,228,254,1);
  border:1px solid rgba(24,136,252,1);
  color: #1888FC;
}

.purple {
  background:rgba(218,203,254,1);
  border:1px solid rgba(151,24,252,1);
  color: #9718FC;
}

// 搜索框内统一样式
.search-box{
  margin-bottom: 15px;
  white-space: normal;
}

.search-box .item{
  margin-right: 15px;
}

.search-box .item label{
  margin-right: 5px;
}

//分页样式
.my-pagination{
  margin: 20px auto;
  color: #B8BBBE;
}

.my-pagination .my-el-pagination{
  float: right;
}

// 表单必填样式
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:after, 
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after{
  content: '*';
  color: #F56C6C;
  margin-right: 4px;
}
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, 
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
  content: ''!important;
  color: #F56C6C;
  margin-right: 4px;
}

//弹框内头部样式
.my-dialog .el-dialog__header{
  background: #F3F5F9;
  padding: 15px 20px;
  color: #222632;
}

.my-dialog .el-dialog__header .el-dialog__headerbtn{
  font-size: 22px;
 
}

.my-dialog .el-dialog__header .el-dialog__headerbtn i{
  color: #444444;
}


.dialog-footer{
  text-align: right;
  padding:0 50px
}

// 新增选项样式
.add-option{
  height:40px;
  background:rgba(205,225,255,1);
  border-radius:5px;
  border:1px dashed rgba(26,119,255,1);
  text-align: center;
  color: #1A77FF;
}

.add-option:hover{
  cursor: pointer;
}


.ques-type-wrap .title{
  text-align: right;
  line-height: 32px;
}

.ques-type-wrap .title .name{
  float: left;
  font-size: 16px;
}

.ques-type-wrap .title .name img{
  vertical-align: middle;
  margin-right: 10px;

}

.ques-type-wrap .list-wrap{
  margin-top: 40px;
  white-space: normal;
}


.ques-type-wrap .list-wrap .item{
  padding: 10px 15px;
  box-sizing: border-box;
  // background: yellow;
  // margin:0 15px 15px 0;
  margin-bottom: 15px;
  width:380px;
  margin-right: 10px;
  display: inline-block;
}

.ques-type-wrap .list-wrap .item:hover{
  background: #F8F8F8;
  cursor: pointer;
}

.ques-type-wrap .list-wrap .item img.left{
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-right: 10px;
}

.ques-type-wrap .list-wrap .item .operations{
  float:right;
  margin-top: 5px;
  .el-tooltip{
    &:focus{
outline: none;
    }
  }
 
}

.ques-type-wrap .list-wrap .item .name{
  display: inline-block;
  width: 65%;
}

.set-exam-wrap{
  white-space: normal;
}

.set-exam-wrap .step-box{
  background: #ffffff;;
  margin:-20px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  font-size: 15px;

  box-shadow:0px 2px 5px 0px rgba(102,102,102,0.2);
}

.set-exam-wrap .step-box .item{
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.set-exam-wrap .step-box .item.active{
  border-bottom: 2px solid #1A77FF;
  font-weight: bold;
  color: #1A77FF;
}

.set-exam-wrap .content-box{
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 5px 0px rgba(102,102,102,0.2);
  border-radius:5px;
  margin-top: 50px;
  padding: 40px;
  box-sizing: border-box;
}

.set-exam-wrap .content-box .item{
  width: 700px;
  margin: 0 auto;
  padding: 30px 70px;
  box-sizing: border-box;
  box-shadow:0px 2px 5px 2px rgba(102,102,102,0.2);
  border-radius:5px;
}

.set-exam-wrap .content-box .item .title{
  font-size: 18px;
  width: 60px;
  border-bottom:10px solid rgba(205,226,255,.7);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}

.set-exam-form .el-form-item{
  margin-bottom: 20px;
}

.set-exam-form .el-form-item .el-form-item__label{
  height: 30px!important;
  line-height: 30px!important;
}


.ques-setting-wrap>.el-col{
  
    text-align: center;
  
}

.ques-setting-wrap .my-el-radio-group .label.el-radio{
  display: block;
}

.level-list-item{
  line-height: 30px!important;
  border:1px solid #DCDFE6;
  border-radius: 5px;
  // text-align: center;
  // margin-right: 10px;
  position: relative;
  padding:0 15px;
  margin-bottom: 15px;
  // .operations{
  //   background:rgba(0,0,0,.3);
  //   width:100%;
  //   left:0;
  //   top:0;
  //   height:100%;
  //   position:absolute
  // }

  
}

// .level-list-item:nth-of-type(3n){margin-right: 0;}

.my-editor .ke-container{
  width:100%!important;
}

.el-table .descending .sort-caret.descending{
  border-top-color: #409EFF;
}

.el-table .ascending .sort-caret.ascending {
    border-bottom-color: #409EFF;
}

.chart-box{
  margin-bottom: 20px;
}

.chart-box .box{
  box-shadow: 0px 1px 3px 0px rgba(102, 102, 102, 0.2);
  background: #fff;
  padding: 20px 40px;
  box-sizing: border-box;
  height: 282px;
}

.chart-box .box .title{
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  line-height: 17px;
  display: inline-block;
  margin-bottom: 20px;
}

.chart-box .box .title>span{
  border-bottom: 5px solid #CDE1FF;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.title_span{
  font-size: 12px;
  font-style: normal;
}
.chart-box .box .sub-title{
  font-size: 16px;
  font-weight: bold;
  color: #1A77FF;
  margin: 20px 0 10px;
}

.chart-box .box .sub-total{
  font-size: 15px;
  font-weight: bold;
  
}

.chart-box .box .circle{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.chart-box .box .item{
  margin-bottom: 20px;
}

.chart-box .box .pink-item .circle{background: #ED3A5B; }
.chart-box .box .blue-item .circle{background: #1A77FF; }
.chart-box .box .orange-item .circle{background: #F29F11;}
.mixed-item .blue{ 
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #1A77FF;
  box-sizing: border-box;
}

.mixed-item .pink{ 
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ED3A5B;
  box-sizing: border-box;
  margin-right: 10px;
}


.chart-box .box .label{color:#666;margin-right: 10px;}

.table-icon-btn{
  font-size:20px;
  margin-right: 5px;
}

.table-icon-btn:hover{
  cursor: pointer;
}

.table-icon-btn.orange{
  color: #FAAC16;
  border:none;
  background: none;
}

.table-icon-btn.red{
  color: #FE3E61;
  border:none;
  background: none;
}

.table-icon-btn.green{
  color: #00B09B;
  border:none;
  background: none;
}

.table-icon-btn.blue{
  color: #1888FC;
  border:none;
  background: none;
}

.ql-toolbar.ql-snow{
  white-space: normal;
}


// 参数设置

.setting-item>.title{
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
  color:rgba(19,20,21,1);
  line-height:22px;
  border-left:2px solid #1A77FF;
  padding-left: 10px;
  margin-bottom:20px;
  margin-top:20px
}

.setting-page{
  margin:0 20px!important
}

.setting-page .el-form-item{
  margin-bottom: 10px!important;
}

.setting-page .el-form-item label{
  width:180px;
  text-align:left;
  color:#1C2026
}

// 用户管理
.user-title-wrap{
  line-height:30px;
}

.user-title-wrap .title{
  font-size:16px;
  // font-family:PingFangSC-Medium,PingFang SC;
  font-weight:bold;
  color:rgba(31,35,47,1);
  
}

.user-line{
  width: 100%;
  border-bottom: 1px solid #E8EBEF;
  margin: 10px 0;
}

// 按钮内的icon
.btn-icons{
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: bottom;
  
}

.btn-icon-stu{
  background: url("../../../static/images/btn-icon-stu.png") no-repeat;
  background-size: cover;
}

// 用户分类页面
.type-list{
  margin-top:20px;
  white-space: normal;
}

.type-list .item{
  width:215px;
  line-height:45px;
  height: 45px;
  background:rgba(243,245,249,1);
  border-radius:5px;
  padding:0 20px;
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
  margin-right: 15px;
  margin-bottom: 15px;
}

.type-list .item .index{
  color: #007AFF;
  font-weight: bold;
  margin-right: 15px;
  vertical-align: top;
  display: inline-block;
}

.type-list .item .name{
  width: 80%;
  display: inline-block;
  
}

/*图标类名*/
.menu_new_education{
  display: inline-block;
  width: 22px;
  height: 19px;
  // background: url("../../../static/images/menu_new_edu_icon.png") no-repeat;
  background: url("../../../static/images/menu-edu-icon.png") no-repeat;
}

.menu_study_manage{
  display: inline-block;
  width: 21px;
  height: 17px;
  background: url("../../../static/images/menu-study-icon.png") no-repeat;
}

// .menu_nav_manage{
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   background: url("../../../static/images/menu-nav") no-repeat;
// }

.menu_count_manage{
  display: inline-block;
  width: 20px;
  height: 18px;
  background: url("../../../static/images/menu-count-icon.png") no-repeat;
}

.menu_user_manage{
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url("../../../static/images/menu-user-icon.png") no-repeat;
}

.menu_user_search{
  display: inline-block;
  width: 20px;
  height: 19px;
  background: url("../../../static/images/menu-user-icon.png") no-repeat;
}

.el-textarea textarea.el-textarea__inner{
  font-family: "Microsoft YaHei";
 
}

.my-table .cell-border{
  width: 100%;
}

.photo-img-del{
  width:20px;
  height:20px;
}

.photo-img-del:hover{
  cursor: pointer;
}

.study-dialog .el-dialog{
    width: 100%;
    margin: 0!important;
    min-height: 100%;
}


















