// @import "./reset.scss";
@import "./mixin.scss";
@import "./variable.scss";

body,
html {
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Microsoft YaHei', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  // user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.el-radio.is-bordered.is-checked{
  background: #ecf5ff;
}

.el-menu{
  border-right: none;
}

.el-divider {
  background-color: #E8EBEF;
}

.my-tag.el-tag.el-tag--mini{
  vertical-align: sub!important;
  margin-left: 15px!important;
  width: 65px;
  border-radius: 13px;
  text-align: center;
}

// 表格tooltip
.el-tooltip__popper {
  max-width: 400px;
}


// 页面布局
.main-container {
  display: flex;
}

.left-container {
  white-space: normal;
  float: left;
  flex: 1;
}

.right-container {
  white-space: normal;
  float: left;
  margin-left: 20px;
}

.top-container {
  display: none;
}

@media screen and (max-width: 1670px) {
  .top-container {
    display: block;
    z-index: 200;
  }

  .right-container.flex-right {
    display: none;
  }
}


// 多选下拉框
.multiple-select .el-select__tags {
  height: 38px;
  overflow-y: auto;
}

.upload-box{
  width:100%;
  height:36px;
  display: flex;
  .btn-upload{
    background:rgba(26,119,255,0.22);
    border:1px solid rgba(26,119,255,1);
    width: 20%;
    min-width: 46px;
    height: 100%;
    //position: absolute;
    //left: 0;
    text-align: center;
    border-radius:3px;
    cursor: pointer;
    margin-right: 20px;
    box-sizing: border-box;
    position: relative;
    img{
      vertical-align: middle;
    }
    .my-upload{
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      opacity: 0;
    }
  }

  .text-upload{
    flex: 1;
    width: 80%;
    img{
      vertical-align: top;
      margin-top: 8px;
    }
    .attach-name{
      display: inline-block;
      max-width: 80%;
      color: #131415;
    }
  }

}

/*单行省略*/
.ellipsis{
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/*多行省略*/
.more-ellipsis{
  display: -webkit-box;
  -webkit-box-orient:vertical;
  text-overflow: ellipsis;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}





.el-table img{
  margin-right: 10px;
  cursor: pointer;
  &:last-of-type{
    margin-right: 0;
  }
}

.table-box .table-wrap{
  margin-top: 18px;
}

/*.search-box{
  .el-input, .el-select, span{
    margin-right: 10px;
    margin-bottom: 30px;
  }
}*/

.search-box>.el-input,
.search-box>.el-select,
.search-box> span {
  margin-right: 10px;
  margin-bottom: 10px;
}

.el-table .warning-row {
  background: #F3F5F9;
}

//表格内多选框样式修改
.el-table tr th{
  // text-align: center;
}
.el-table .el-checkbox__inner{
  width: 18px;
  height: 18px;
}

.el-table .el-checkbox__inner::after{
  width: 5px;
  height: 9px;
  left: 5px;
}

.el-table .el-checkbox__input.is-checked .el-checkbox__inner,
.el-table .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #1A77FF;
  border-color: #1A77FF;
}

.el-table .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 7px;
}

.el-checkbox__inner{
  width: 18px;
  height: 18px;
}

.el-checkbox__inner::after{
  width: 5px;
  height: 9px;
  left: 5px;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #1A77FF;
  border-color: #1A77FF;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 7px;
}

.my-checkbox .el-checkbox__inner{
  width: 18px;
  height: 18px;
}

.my-checkbox .el-checkbox__inner::after{
  width: 5px;
  height: 9px;
  left: 5px;
}

.my-checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
.my-checkbox .el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #1A77FF;
  border-color: #1A77FF;
}

.my-checkbox .el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 7px;
}

//分页
.pagination-wrap{
  margin:40px auto 0;
  overflow: auto;
  .tip{
    color: #B8BBBE;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
  }

  .el-pagination{
    display: inline-block;
    float: right;
  }
}

.line{
  width:1px;
  height:36px;
  border-left: 1px solid #B8BBBE;
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px 0 10px;
}











































