.mainright3{
	margin-top: 10px;
	overflow-y:scroll ;
}
.mainright3>.tabletop>div{
	text-align: center;
}
.mainright3>.tableline>div{
	text-align: center;
}
.gy,.gy_line{
	width: calc(100% / 6);
}
.gz,.gz_line{
	width: calc(100% / 6);
}
.mg,.mg_line{
	width: calc(100% / 6);
}
.q,.q_line{
	width: calc(100% / 6);
}
.th,.th_line{
	width: calc(100% / 6);
}
.mz,.mz_line{
	width: calc(100% / 6);
}
.tabletop>div{
	padding: 0;
	position: relative;
}
.tabletop>div>div{
	display: inline-block;
	width: 12px;
	height: 15px;
	top: 17px;
	position: absolute;
	margin-left: 5px;
}
.tabletop>div>div>i{
	display: inline-block;
	width: 100%;
	height: 6px;
}
.gy .up,.gz .up,.mg .up,.q .up,.th .up,.mz .up{
	width: 0; 
	height: 0;
 	border-width: 6px;
	border-style: solid;
	border-color: transparent transparent #D6D0BE transparent;
	position: absolute;
	top:-5px;
}
.gy .up.upact,.gz .up.upact,.mg .up.upact,.q .up.upact,.th .up.upact,.mz .up.upact{
	border-color:  transparent transparent #705838 transparent;
}
.gy .down,.gz .down,.mg .down,.q .down,.th .down,.mz .down{
	width: 0; 
	height: 0;
 	border-width: 6px;
	border-style: solid;
	border-color: #D6D0BE transparent transparent transparent;
	position: absolute;
	bottom: -7px;
}
.gy .down.downact,.gz .down.downact,.mg .down.downact,.q .down.downact,.th .down.downact,.mz .down.downact{
	border-color: #705838  transparent transparent transparent;
}
.gy .down.downact{
	width: 0; 
	height: 0;
 	border-width: 6px;
	border-style: solid;
	border-color: #705838  transparent transparent transparent;
	position: absolute;
	bottom: -7px;
}
.tableline>div{
	text-align: center !important;
}
.annal{
	height:34px;
	background: rgba(112,88,56,1);
	border-radius:5px;
	border:1px solid rgba(112,88,56,1);
	/*margin-left: 20px;*/
	font-size:14px;
	color:rgba(112,88,56,1);
	line-height:34px;
	color: #fff;
	margin-right: 20px;
}
.classfiy>div.area>i{
	background: url(../img/annalnocation1.png) no-repeat center center;
}
.classfiy>div.government>i{
	background: url(../img/government2.png) no-repeat center center;
}
.classfiy>div.annal>i{
	background: url(../img/annalcompare2.png) no-repeat center center;
}