.main{
	margin-top: 60px;
}
.mainleft{
	width: 305px;
	height:100%;
	background:rgba(250,246,232,1);
	border:3px solid rgba(241,231,205,1);
	padding: 30px 28px;
	box-sizing: border-box;
	float: left;
	overflow-y:scroll ;
}
.mainleft>h3{
	width: 100%;
	height:25px;
	font-size:19px;
	color:rgba(112,87,56,1);
	line-height:25px;
}
.mainright{
	width: calc(100% - 317px);
	/* 	height: auto; */
	margin-left: 12px;
	background:rgba(249,246,232,1);
	border:3px solid rgba(241,231,205,1);
	float: right;
	padding: 20px 15px;
	box-sizing: border-box;
	overflow-y:scroll ;
}
.dataline{
	width: 100%;
	min-height: 69px;
	border-left: 1px solid rgba(112,87,56,0.2);
	border-right: 1px solid rgba(112,87,56,0.2);
	border-top: 1px solid rgba(112,87,56,0.2);
}
.dataline:last-of-type{
	border-bottom: 1px solid rgba(112,87,56,0.2);
}
.lineright{
	width: calc(100% - 125px);
	float: right;
	font-size:14px;
	color:rgba(112,87,56,1);
	padding: 20px;
	box-sizing: border-box;
}
.lineleft{
	width: 125px;
	float: left;
	background:rgba(241,231,205,1);
	text-align: center;
	font-size:14px;
	color:rgba(112,87,56,1);
	line-height:19px;
	padding: 20px;
	box-sizing: border-box;
	min-height: 69px;
}

.classfiy{
	width: 100% !important;
}
.government{
	width:140px;
	height:34px;
	background:rgba(112,88,56,1);
	border-radius:5px;
	border:1px solid rgba(112,88,56,1);
	font-size:14px;
	color:rgba(248,244,229,1);
	line-height:34px;
}
.classfiy>div.area>i{
	background: url(../img/annalnocation1.png) no-repeat center center;
}
.classfiy>div.government>i{
	background: url(../img/government3.png) no-repeat center center;
}
.classfiy>div.annal>i{
	background: url(../img/annalcompare.png) no-repeat center center;
}
.ztree li a.curSelectedNode>span{
	color: #0056A6 !important;
}
