* {
	padding: 0;
	margin: 0;
	list-style: none;
}


/* 清除浮动的代码 */

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}

.clearfix {
	zoom: 1
}

body {
	background: #EEE8D3;
}

.outside {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0 25px 25px 28px;
	box-sizing: border-box;
	position: absolute;
}

.top {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	background: #EEE8D3;
}

.search {
	height: 100%;
	width: 300px;
	float: left;
	position: relative;
}

.search>input {
	width: 100%;
	height: 38px;
	background: #000000;
	opacity: 0.2;
	color: #fff;
	border: none;
	text-align: left;
	margin-top: 12px;
	padding-left: 20px;
}

.search .icon-search {
	width: 20px;
	height: 20px;
	position: absolute;
	right: -8px;
	top: 20px;
}

.classfiy {
	height: 38px;
	width: calc(100% - 345px);
	float: right;
	margin-top: 12px;
	padding-right: 28px;
	box-sizing: border-box;
}

.classfiy>h4 {
	float: left;
	font-size: 14px;
	color: rgba(112, 87, 56, 1);
	line-height: 38px;
}

.classfiy>h4>a {
	color: #333;
	text-decoration: none;
}

.classfiy>div {
	float: right;
	position: relative;
	text-indent: 30px;
	line-height: 32px;
	padding-right: 20px;
	box-sizing: border-box;
}

.classfiy>div>i {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: rgba(112, 88, 56, 1);
	position: absolute;
	top: 8px;
	left: 10px;
}

.main {
	width: 100%;
	margin-top: 60px;
	height: calc(100% - 62px);
	position: fixed;
}

.classfiy>div>a {
	text-decoration: none;
	color: rgb(51, 51, 51);
	font-size: 14px;
}

.mainright {
	width: 100%;
	height: 100%;
	background: rgba(249, 246, 232, 1);
	border: 3px solid rgba(241, 231, 205, 1);
	padding: 20px 15px;
	box-sizing: border-box;
}

.tabletop {
	width: 100%;
	height: 49px;
	background: rgba(241, 231, 205, 1);
}

.tablemain {
	width: 100%;
	height: calc(100% - 49px);
	background: rgba(250, 246, 232, 1);
}

.tabletop>div {
	float: left;
	text-align: start;
	line-height: 49px;
	font-size: 14px;
	color: rgba(112, 87, 56, 1);
	padding-left: 20px;
	box-sizing: border-box;
}

.tableline {
	width: 100%;
	min-height: 67px;
	border-bottom: 1px solid #F1E7CD;
}

.tableline>div {
	float: left;
	font-size: 14px;
	color: rgba(112, 87, 56, 1);
	text-align: start;
	padding: 20px;
	box-sizing: border-box;
}


/*第三个页面*/

.introTypeSet {
	height: 62px;
	background: #F8F4E5;
	font-weight: 600;
}

.introTypeSet .bookInfo {
	line-height: 62px;
	float: left;
	margin-left: 28px;
	width: 100%;
	font-size: 14px;
	color: rgba(112, 87, 56, 1);
}

::-webkit-scrollbar-track-piece {
	background-color: #FAF6E8;
	/*滚动条的背景颜色*/
	-webkit-border-radius: 0;
	/*滚动条的圆角宽度*/
}

::-webkit-scrollbar {
	width: 8px;
	/*滚动条的宽度*/
	height: 8px;
	/*滚动条的高度*/
}

::-webkit-scrollbar-thumb:vertical {
	/*垂直滚动条的样式*/
	height: 50px;
	background-color: #F1E7CD;
	-webkit-border-radius: 4px;
	outline: 2px solid #fff;
	outline-offset: -2px;
	border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
	/*滚动条的hover样式*/
	height: 50px;
	background-color: #9f9f9f;
	-webkit-border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
	/*水平滚动条的样式*/
	width: 5px;
	background-color: #CCCCCC;
	-webkit-border-radius: 6px;
}
