$width-num: 1080;
$width-rem: $width-num+rem;
$whole-width: 100vw/$width-num;
// $whole-width: 1pt;

// @media all and (max-width: 1920px) {
//     $width-num: 1920;
// }

// @media all and (max-width: 1080px) {
//     $width-num: 1080;
// }
$indexh: calc(100vh - 121rem) !important;
$home-head: 70rem;
$schoolname-height: 450rem;
$m-left: 80rem;
$m-right: 80rem;


$color-purple: #6524E4;
$arq: 1.414;

@mixin fz($fz: 14rem, $color:#000000, $fw: 400) {
    font-family: 'Alibaba PuHuiTi';
    font-style: normal;
    font-weight: $fw;
    font-size: $fz * $arq;
    color: $color;
}

@mixin fonts($fz: 14, $color:#000000, $fw: 400) {
    font-family: 'Alibaba PuHuiTi';
    font-style: normal;
    font-weight: $fw;
    font-size: $arq * $fz + rem;
    color: $color;
}

@mixin moreEllipsis($line: 2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
}