<!DOCTYPE >
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />-->
		<!-- <link rel="stylesheet" href="css/animate.min.css"> -->
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
		<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1"/>
		<link rel="icon" href="../img/favicon2.ico" type="image/x-icon"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/zTreeStyle/zTreeStyle.css"/>
		<link href="index.css" rel="stylesheet"/>
		<title>民国文献数据库-详情页</title>
	</head>
	<body>
	
			<div class="content">
				<!--头部logo-->
				<div class="lunbo" id="luobo">
				    	<div class="titlePic">
				    		<img src="../img/index_31.png" class="userIcon"/>
				    	</div>
				    	<div class="login-div" id="login-div">
					    	<p class="login-title">会员登录</p>
					    	<input type="text" id="uname" name="username" placeholder="请输入用户名">
					    	<input type="password" id="pword" name="password" placeholder="请输入密码">
					    	<input class="yzm" id="yzm" type="text" name="yzm" placeholder="请输入验证码">
					    	<img class="yzmtp" id="yzmtp" onclick="javascript:changeCode()" src="/idsweb/rest/captcha/get" style="display: block;">
					    	<p class="login-error"></p>
					    	<button onclick="javascript:login()">登录</button>
					    </div>
				</div>
				<!--内容显示区-->
				<div class="showContent">
					  <!--显示书本来源-->
					  <div class="recource"></div>
					  <div class="contentShow">
					  	  <!--显示书本信息和图片-->
					  	  <div class="bookInfo"></div>
					  	  <img src="../img/bookinfomation.png"/>
					  	  <!--显示书本目录和介绍-->
					      <div class="workInfo">
					      	
					      	<div class="categoryname"></div>
					      	<div class="showAll" value="${ID}"><a href="javascript:void(0);"><span>显示全部</span>&nbsp;&nbsp;<img src="../img/icon-arrow-down.png"/></a></div>
					      </div>
					      
					  </div>
				</div>
		    </div>
		    <!--底部-->
		    <div class="bottom">
				<img src="../img/logo_only.png"/>
				<div class="bottomcontent"></div>
			</div>

		<script type="text/javascript" src="../js/jquery-1.8.3.js" charset="utf-8"></script>
		<script type="text/javascript" src="../js/jquery.tmpl.min.js" charset="utf-8"></script>
		<script src="../js/jquery.ztree.core.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/dkr.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/base64.js" type="text/javascript" charset="utf-8"></script>
	    <script src="../js/common.js?v=220318" type="text/javascript" charset="utf-8"></script>
		<script src="index.js?v=20220622" type="text/javascript" charset="utf-8"></script>
		
	    <!--显示书的来源-->
	    <script id='bookResourceTemp' type='text/x-jquery-tmpl'>
			<a href="javascript:void(0)" class="toStart">首页</a><span> ></span>
	        <a href="javascript:void(0)" class="navlabel ifExist">${LABEL}</a><span class="ifExist"> ></span>&nbsp;<span>${TITLE}</span>
	    </script>
	    <!--显示书的信息-->
	    <script id='bookInfoTemp' type='text/x-jquery-tmpl'>
	          <img src="${BOOKIMG}"/>
	  	  	  <div class="bookIntro">
	  	  	  	 <h4>${TITLE}{{if BLTITLE}}:${BLTITLE}{{/if}}</h4>
				 {{if OTITLE}}
					<p>其他题名：<span>${OTITLE}{{if FTITLE}}，${FTITLE}{{/if}}</span></p>
				 {{else FTITLE}}
					<p>其他题名：<span>${FTITLE}</span></p>
				 {{/if}}
				 {{if ZAUTHOR}}
					<p>责任者：<span>${ZAUTHOR}{{if CAUTHOR}}，${CAUTHOR}{{/if}}</span></p>
				 {{else CAUTHOR}}
					<p>责任者：<span>${CAUTHOR}</span></p>
				 {{/if}}
	  	  	 	 {{if BB}}<p>版本项：<span>${BB}</span></p>{{/if}}
				 {{if PAID}}
					<p>出版项：<span>${PAID}{{if PUBLISHINGID}}，${PUBLISHINGID}{{/if}}{{if DATE}}，${DATE}{{/if}}</span></p>
				 {{else CAUTHOR}}
					<p>出版项：<span>${PUBLISHINGID}{{if DATE}}，${DATE}{{/if}}</span></p>
				 {{else CAUTHOR}}
					<p>出版项：<span>${DATE}</span></p>
				 {{/if}}
	  	  	  	 {{if JHX}}<p>稽核项：<span>${JHX}</span></p>{{/if}}
	  	  	  	 {{if SERIRS}}<p>丛书题名：<span>${SERIRS}</span></p>{{/if}}
	  	  	  	 {{if ZTTYPEID}}<p>中图法分类：<span>${ZTTYPEID}</span></p>{{/if}}
				 {{if ZTCC}}<p>主题词：<span>${ZTCC}</span></p>{{/if}}
	  	  	  	 <button value="${ID}"><img src="../img/icon-book.png"/>&nbsp;&nbsp;开始阅读</button>
	  	  	  </div>
	    </script>
	    <!--显示书的介绍和目录-->
	    <script id='bookIntroTemp' type='text/x-jquery-tmpl'>
	                <div class="workDetail">
					<p>${CONTENTNOTE}</p>
					<p>${SUMMARY}</p>
					</div>
					<h4>目录</h4>
			      	<div class="catalogContent">
			      	        <ul id="treeDemo" class="ztree"></ul>
					</div>
					
	    </script>
		
	</body>
</html>