@import "./reset.scss";

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
}

/* 清除浮动 */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*单行省略*/
.ellipsis {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* tooltip */
.el-tooltip__popper {
  max-width: 350px;
}

/* 通用的白色背景样式 */
.bg-white {
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* 通用的带查询的表格样式 */
.base-search-table {
  padding: 0;

  .search-box {
    padding: 15px 20px 0;

    .go-back {
      color: #3f86f7;
      font-size: 14px;
      cursor: pointer;
    }

    h3 {
      display: inline-block;
      // width: 20%;
      min-width: 150px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      color: #373B4B;
    }

    .search-box-right {
      float: right;
      max-width: 90%;

      .el-select {
        width: 120px;
        margin-right: 10px;
      }

      .input-box {
        width: 200px;
        margin-right: 10px;
      }

      .el-divider--vertical {
        height: 32px;
      }
    }
  }

  .el-table {
    margin-top: 20px;

    .table-header {
      th {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.02);
        color: #000000;

        .cell {
          line-height: 34px;
        }
      }

      th.require {
        .cell::before {
          content: "*";
          color: #ff0000;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    th,
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .cell {
      span {
        color: #3f86f7;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .img-column {
      padding: 5px 0;

      .cell {

        img,
        .icon-div {
          width: 36px;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }
    }
  }

  .pagination-box {
    margin-top: 10px;
    text-align: right;

    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .el-pager li {
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

}


/* 通用的右侧抽屉样式 */
.base-drawer {
  .el-drawer {
    border-radius: 2px;
    outline: none;

    .el-drawer__header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      height: 56px;
      padding: 0 24px;
      color: #000000;
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;

      span {
        outline: none;
      }
    }

    .el-drawer__body {
      overflow: auto;
    }

    .drawer-container {
      height: calc(100% - 52px);
      overflow: auto;
    }

    .drawer-footer {
      background: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 52px;
      line-height: 52px;
      padding-left: 24px;
      background: #ffffff;
      border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}

/* 通用弹窗样式 */
.base-dialog {
  .el-dialog__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    .el-dialog__title {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .el-dialog__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
  }
}

/* 通用的小弹窗样式 */
.base-small-dialog {
  line-height: 24px;

  .el-dialog {
    margin-top: 0 !important;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  }

  .el-dialog__header {
    padding: 12px;
    border-bottom: 1px solid #eeeeee;

    .el-dialog__title {
      font-size: 14px;
      color: #3a3a3a;
    }

    .el-dialog__headerbtn {
      top: 14px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .el-dialog--center .el-dialog__body {
    padding: 20px 10px;

    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .el-dialog__footer {
    padding: 8px 10px;
    border-top: 1px solid #eeeeee;

    .el-button {
      width: 100%;

      &.el-button--small {
        font-size: 14px;
        padding: 8px 15px;
      }
    }
  }
}

/* 没有箭头的下拉框列表 */
.el-select-dropdown.el-popper.noarrow {
  margin-top: 0;

  .popper__arrow {
    display: none;
  }
}

// el-tab样式
.el-tabs__header {
  .el-tabs__nav-wrap {
    padding: 0 20px;
  }

  .el-tabs__item {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }

  .el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
  }
}

.tab-label-btn {
  .el-input__inner {
    border-right: none;

    &:focus {
      border-color: #C0C4CC;
    }
  }

  .el-input-group__append,
  .el-input-group__prepend {
    padding: 0 5px;
    background: none;
    border-left: none;
  }

  &:hover {

    .el-input-group__append,
    .el-input-group__prepend {
      border-color: #C0C4CC;
    }

  }
}

// //分页样式
// .pagination {
//   background: #fff;
//   text-align: right;
//   padding: 20px;
// }
// .el-pagination.is-background .el-pager li:not(.disabled).active{
//   background-color: #1890FF;
// }
// .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
//   background: #fff;
//   border: 1px solid #D9D9D9;
// }

.pagination {
  margin-top: 10px;
  text-align: right;

  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .el-pager li {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}

/* 弹出层dialog */
.popover-dialog {
  margin-top: 8px !important;
  padding: 0 !important;
}

.popover-dialog-title {
  font-size: 14px;
  color: #3a3a3a;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  padding: 14px 0;
  border-bottom: 1px solid #eeeeee;

  i {
    position: absolute;
    right: 10px;
    top: 16px;
    cursor: pointer;
  }
}

.popover-dialog-content {
  padding: 20px 10px;
}

.popover-dialog-footer {
  border-top: 1px solid #eeeeee;
  padding: 8px 10px;

  .el-button {
    width: 100%;
  }
}

//button 样式
.el-button.blue-border {
  border-color: #3A78FC;
  color: #3A78FC;
}

/* 白色背景按钮 */
.white-btn {
  &.el-button--primary.is-plain {
    background: #fff;
    border-color: #3f86f7;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #3f86f7;
    }
  }

  &.el-button--info.is-plain {
    background: #fff;
    border-color: #ebebeb;

    &:hover,
    &:active,
    &:focus {
      background: #3f86f7;
      color: #ffffff;
      border-color: #3f86f7;
    }
  }
}

/* 黄色背景按钮 */
.yellow-btn.el-button {
  background: #FBB937;
  border-color: #FBB937;
  color: #ffffff;

  &:hover,
  &:active,
  &:focus {
    background: rgba(251, 185, 55, 0.8);
    border-color: #FBB937;
    color: #ffffff;
  }
}

/* 绿色背景按钮 */
.green-btn.el-button {
  background: #4FC88C;
  border-color: #4FC88C;
  color: #ffffff;

  &:hover,
  &:active,
  &:focus {
    background: rgba(79, 200, 140, 0.8);
    border-color: #4FC88C;
    color: #ffffff;
  }
}


// 登录
.login-form {
  .el-form-item {
    margin-bottom: 30px;
  }

  .el-input__inner {
    height: 48px;
    border-radius: 30px;
    background: #F7F5FB;
    border-color: transparent;
  }
}


// confirm弹窗
.el-message p {
  white-space: pre-wrap;
  line-height: 22px;
}
.el-message-box__message p {
  white-space: pre-wrap;
}

// 开启 关闭
.switch {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 22px;
  line-height: 22px;
  margin-top: -2px;

  span {
    position: absolute;
    font-size: 12px;
    padding-top: 1px;
    top: 0;
    cursor: pointer;

    &.on {
      color: #ffffff !important;
      left: 6px;
    }

    &.off {
      color: #999 !important;
      right: 10px;
    }
  }
}

// 没有数据
.nodata {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  img {
    width: 113px;
    height: 100px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(55,59,75,0.6);
    line-height: 20px;
    margin: 10px 0;
  }
}

@media screen {
	.noVisable{display:none;}
}
@media print {
	.noPrint{display:none;}
}