@font-face {
  font-family: "iconfont"; /* Project id 3244106 */
  src: url('iconfont.woff2?t=1647309783899') format('woff2'),
       url('iconfont.woff?t=1647309783899') format('woff'),
       url('iconfont.ttf?t=1647309783899') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-xtgl:before {
  content: "\e61f";
}

.icon-menu-ghgl:before {
  content: "\e62f";
}

.icon-menu-pdjh:before {
  content: "\e630";
}

.icon-menu-yktgl:before {
  content: "\e660";
}

