* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*清除浮动代码*/
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}

.clearfloat {
	zoom: 1
}

.box {
	/*position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;*/
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
}

.box_ {
	background: url(../img/detailback.png) no-repeat;
}

.box_zd {
	background: url(../img/detailbackzd.png) no-repeat;
}

.box_left {
	width: 70%;
	height: 100%;
	float: left;
}

.left_top {
	width: 100%;
	height: 164px;
	/*display: flex;
	justify-content: space-between;*/
}

.logo {
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 48px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 164px;
	text-indent: 78px;
	text-align: center;
	background: url(../img/logo.png) no-repeat left center;
	margin-left: 30px;
	float: left;
}

.logo1 {
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 48px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 164px;
	text-indent: 78px;
	text-align: center;
	background: url(../img/nxdlogo.png) no-repeat left center;
	background-size: contain;
	margin-left: 30px;
	float: left;
	margin-top: 20px;
}

.logo3 {
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 48px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	line-height: 164px;
	text-indent: 78px;
	text-align: center;
	background: url(../img/zdlogo.png) no-repeat left center;
	background-size: contain;
	margin-left: 30px;
	float: left;
	margin-top: 20px;
}

.time {
	display: inline-block;
	/*width:50%;*/
	height: 100%;
	font-size: 64px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #333333 !important;
	line-height: 164px;
}

.time3 {
	display: inline-block;
	/*width:50%;*/
	height: 100%;
	font-size: 64px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #333333 !important;
	line-height: 164px;
}

.left_top_ .time {
	font-weight: 530;
	color: rgba(0, 0, 0, 1);
}

.left_down {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/*padding: 0 200px;*/
	box-sizing: border-box;
	margin-left: 100px;
}

.left_down>li {
	width: 48%;
	height: 50px;
	text-align: center;
	background: #D9CFCE;
	border-radius: 35px;
	line-height: 50px;
	margin-top: 40px;
	/*display: flex;
	justify-content: space-around;*/

}

.left_down_>li {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 41px;
	font-size: 30px;
	font-weight: 400;
	color: rgba(31, 35, 47, 1);
}

.li_time,
.li_name {
	display: inline-block;
	/*width: 40%;*/
	height: 100%;
	text-align: center;
	font-style: normal;
	font-size: 30px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(51, 51, 51, 1);
	line-height: 50px;
	float: left;
	margin-left: 20px;

}

.li_time {
	width: 20%;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.li_name {
	margin-left: 0;
	width: calc(80% - 20px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.left_down_ .li_time, .left_down_ .li_name {
	width: calc(50% - 20px);
	font-size: 23px;
	text-align: center;
}

.bj {
	width: 80%;
	height: 80%;
	background: url(../img/Rectangle.png) no-repeat center center;
	background-size: contain;
	margin: -56% auto;
	padding-top: 48%;
	box-sizing: border-box;
}

.left_down>li>span {
	display: inline-block;
	width: 70%;
	border-radius: 50%;
}

.name {
	text-align: center;
	font-size: 48px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
	line-height: 67px;
}

.person_time {
	text-align: center;
	font-size: 40px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	line-height: 56px;
}

.box_right {
	width: 30%;
	height: 100%;
	background: url(../img/right.png) no-repeat center center;
	background-size: cover;
	float: right;
	padding-right: 40px;
	box-sizing: border-box;
}

.box_right_ {
	background: url(../img/detailback_right.png) no-repeat right;
	float: right;

}

.right_top {
	width: 100%;
}

.right_top>h3 {
	width: 100%;
	text-align: right;
	font-size: 40px;
	font-weight: 300;
	color: rgba(85, 85, 85, 1);
	margin-top: 30px;
}

.right_top>h1 {
	width: 100%;
	text-align: right;
	font-size: 30px;
	font-weight: 300;
	color: rgba(85, 85, 85, 1);
	margin-top: 30px;
}

.box_right_ h3, .box_right_ h1 {
	font-weight: 500;
	color: rgba(46, 52, 72, 1);
}

.right_top>p {
	font-size: 24px;
	font-family: PingFangSC-Light;
	font-weight: 300;
	color: rgba(85, 85, 85, 1);
	text-align: right;
}

.right_middle {
	width: 50%;
	text-align: left;
	float: right;
	margin-right: 30px;
	margin-bottom: 30px;
}


.right_middle>p {
	width: 100%;
	height: 42px;
	text-align: right;
	font-size: 30px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	line-height: 42px;
	margin-top: 30%;
}

.right_middle_>p {
	margin-top: 15%;
	text-align: center;
	font-weight: 530;
	color: rgba(46, 52, 72, 1);
}

.now_qd {
	width: 100%;
	height: 50px;
	background: rgba(217, 207, 206, .5);
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	margin-top: 30px;
	text-align: right;
	line-height: 50px;
	font-size: 26px;
	font-family: PingFangSC-Regular;
	font-weight: 400;
	letter-spacing: 3px;
}

.qd_text,
.wqd_text {
	font-size: 24px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: rgba(51, 51, 51, 1);
}

.yes_qd {
	width: 100%;
	height: 50px;
	background: rgba(217, 207, 206, .5);
	border-top-left-radius: 40px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #E0CDBE;
}

.yes_qd>span,
.no_qd>span {
	display: inline-block;
	width: 45%;
	text-align: center;
	height: 100%;
	line-height: 50px;
	font-size: 26px;
}

.no_qd {
	width: 100%;
	height: 50px;
	/*background: #D9CFCE;*/
	background: rgba(217, 207, 206, .5);
	border-bottom-left-radius: 40px;
	display: flex;
	justify-content: center;
}

#qrcode,
#qrcode_left {
	text-align: center;
	/*width: 256px;
	height: 256px;*/
	width: 128px;
	height: 128px;
	background-size: cover;
	margin-right: 30px;
	margin-top: 30px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	padding: 15px;
	background: url("../img/wrapped.png") no-repeat center;
}

#qrcode_left {
	position: fixed;
	bottom: 20px;
	left: 10px;
	margin-left: 30px;
}

#qrcode_only {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
}

.sign_title {
	position: fixed;
	width: 100%;
	top: 0;
	text-align: center;
	font-size: 64px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	line-height: 164px;
}

.li_empty {
	width: 100%;
	height: 100%;
	line-height: 400px;
	font-size: 40px;
	text-align: center;
	color: #fff;
}

.half {
	background: url("../img/half.png") no-repeat center;
	background-size: cover;
	display: block;
}

.epidemic {
	background: url("../img/epidemicseat.png") no-repeat center;
	background-size: cover;
	display: block;
}

.full {
	background: url("../img/monitor.png") no-repeat center;
	background-size: cover;
	display: block;
}

.selected {
	background: url("../img/selected.png") no-repeat center;
	background-size: cover;
	display: block;
}

.wall {
	background: url("../img/wall.png") no-repeat center;
	background-size: cover;
	display: block;
}

.window {
	background: url("../img/window.png") no-repeat center;
	background-size: cover;
	display: block;
}

.door {
	background: url("../img/door.png") no-repeat center;
	background-size: cover;
	display: block;
}

.pass {
	background: url("../img/pass.png") no-repeat center;
	background-size: cover;
	display: block;
}

.pillar {
	background: url("../img/pillar.png") no-repeat center;
	background-size: cover;
	display: block;
}

.seat {
	background: url("../img/seat.png") no-repeat center;
	background-size: cover;
	display: block;
}

.my-seat {
	background: url("../img/my-seat.png") no-repeat center;
	background-size: cover;
	display: block;
}

.interval-seat {
	background: url("../img/interval-seat.png") no-repeat center;
	background-size: cover;
	display: block;
}

.main {
	/* background: #fff; */
	overflow: auto;
	width: 70%;
	min-height: 600px;
	float: right;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: url("../img/bg.png") no-repeat center;
	/* padding: 20px 0; */
}

.main::-webkit-scrollbar,
.main::-webkit-scrollbar-thumb,
.main::-webkit-scrollbar-track {
	display: none;
	margin-top: -1px;
	width: 0;
	height: 0;
	background: transparent;
}

.table-box {
	/* background: #EEEEEE; */
	/* background: rgba(255, 255, 255, 0.900); */
	/* filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5; */
	/* opacity: 0.9; */
	/* filter: brightness(0.6); */
	width: 85%;
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
}

.seattable {
	/* background: rgb(151, 155, 162); */
	/* padding-top: 15px; */
	margin: 0 auto;
	border-radius: 4px;
	/* border: 1px solid #EEEEEE; */
	table-layout: fixed;
	min-height: 600px;
	overflow: auto;
	white-space: nowrap;
	/* display: block; */
	display: flex;
	justify-content: space-around;
	/* align-items: center; */
}

#seatTable {
	/* margin: auto 0; */
	/* vertical-align: middle; */
}

.seattable::-webkit-scrollbar,
.seattable::-webkit-scrollbar-thumb,
.seattable::-webkit-scrollbar-track {
	display: none;
	margin-top: -1px;
	width: 0;
	height: 0;
	background: transparent;
}

.seattable tr {
	display: flex;
}

.seattable td {
	border: 1px transparent solid;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 3px;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
	position: relative;
}

.seattable .seatselected {
	outline: #3d7fff 1px solid;
}

.no-num {
	color: transparent;
}

.left-main {
	width: 15%;
	height: 100%;
	min-height: 600px;
	/* padding-top: 20px; */
	background: #fff;
	/* border: 1px solid #EEEEEE; */
}

.line {
	width: 100%;
	height: 1px;
	background: #EEEEEE;
}

.icons-list {
	padding-top: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.icon-items {
	flex-basis: 45%;
	float: left;
	text-align: center;
	color: #666;
	margin-bottom: 30px;
	display: list-item;
	cursor: pointer;
}

.icon-items:nth-child(-n + 2) {
	padding-top: 20px;
}

.icon-name {
	display: inline-block;
	padding-top: 3px;
	font-weight: 400;
}

.icons-list .img {
	display: block;
	width: 26px;
	height: 26px;
	margin: 4px auto;
}

.icons-list2 {
	padding-top: 30px;
}

.icon-items2 {
	width: 80%;
	text-align: center;
	color: #666;
	margin-bottom: 30px;
	margin-left: 30px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.icons-list2 .img {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 4px 0;
}

.icon-name-left {
	padding-left: 10px;
}