@import "./reset.scss";

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #f6f6f6;
}


/* 清除浮动 */

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/*单行省略*/

.ellipsis {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}


/*tootip最大宽度*/

.el-tooltip__popper {
  max-width: 400px;
}


/* 左侧菜单 */

.el-menu-item,
.el-submenu__title {
  height: 60px !important;
  line-height: 60px !important;
  // text-align: center;
  // padding-left: 30px !important;
}


/* 通用的白色背景样式 */

.bg-white {
  background: #ffffff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  padding: 20px;
  width: 100%;
  height: 100%;
}


/* 橙色按钮 */

.orange-btn {
  &.el-button--primary {
    background: #FF6F4B;
    border-color: #FF6F4B;

    &:hover {
      background: #fd7b5a;
      border-color: #fd7b5a;
    }
  }

  &.el-button--default {
    border-color: #FF6F4B;
    color: #FF6F4B;

    &:hover {
      background: #ffefef;
    }
  }
}


/* 通用的带查询的表格样式 */

.base-search-table {
  padding: 0;

  .search-box {
    padding: 20px 20px 0;

    .go-back {
      color: #3f86f7;
      font-size: 14px;
      cursor: pointer;
    }

    h3 {
      display: inline-block;
      width: 20%;
      min-width: 150px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
    }

    .search-box-right {
      float: right;
      max-width: 80%;

      .el-select {
        width: 120px;
        margin-right: 10px;
      }

      .input-box {
        width: 200px;
        margin-right: 10px;
      }

      .el-divider--vertical {
        height: 32px;
      }
    }
  }

  .el-table {
    margin-top: 20px;

    .table-header {
      th {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.02);
        color: #000000;

        .cell {
          line-height: 34px;
        }
      }

      th.require {
        .cell::before {
          content: "*";
          color: #ff0000;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    th,
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .cell {
      span {
        color: #3F86F7;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .img-column {
      padding: 5px 0;

      .cell {

        img,
        .icon-div {
          width: 36px;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }
    }
  }

  .pagination-box {
    padding: 10px 0;
    text-align: right;
    background: #ffffff;

    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .el-pager li:not(.active) {
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}

.el-pagination {
  margin-bottom: 60px;

  & /deep/ .el-pager li:not(.active) {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
}


/* 通用的右侧抽屉样式 */

.base-drawer {
  .el-drawer {
    width: 660px;
    border-radius: 2px;
    outline: none;

    .el-drawer__header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      height: 56px;
      padding: 0 24px;
      color: #000000;
      font-weight: 500;
      margin-bottom: 0;

      span {
        outline: none;
      }
    }

    .el-drawer__body {
      overflow: auto;
    }

    .drawer-container {
      height: calc(100% - 52px);
      overflow: auto;
    }

    .drawer-footer {
      background: #ffffff;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 52px;
      line-height: 52px;
      padding-left: 24px;
      border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}


/* 表单 */

.edit-box {
  .el-form-item__error {
    padding-top: 0;
  }

  .select-btn-box {
    .list .el-input__inner {
      border-width: 0;
    }
  }
}


/* 通用的弹窗样式 */

.base-dialog {
  .el-dialog {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    .el-dialog__header {
      padding: 15px 20px;
      border-bottom: 1px solid #eeeeee;
    }

    .el-dialog__body {
      padding: 30px 50px;
      border-bottom: 1px solid #eeeeee;
    }

    .el-dialog__footer {
      padding: 10px;

      .el-button {
        padding: 9px 20px;
      }
    }
  }
}


/* 通用的小弹窗样式 */

.base-small-dialog {
  .el-dialog.el-dialog--center {
    margin-top: 0 !important;
    box-shadow: none;
  }

  .el-dialog__header {
    padding: 4px;
    border-bottom: 1px solid #eeeeee;

    .el-dialog__title {
      font-size: 14px;
      color: #3a3a3a;
    }

    .el-dialog__headerbtn {
      top: 14px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .el-dialog--center .el-dialog__body {
    padding: 20px 10px;

    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .el-dialog__footer {
    padding: 8px 10px;
    border-top: 1px solid #eeeeee;

    .el-button {
      width: 100%;

      &.el-button--small {
        font-size: 14px;
        padding: 8px 15px;
      }
    }
  }
}

.service-small-dialog {
  & /deep/ .el-dialog {
    border-radius: 10px
  }

  & /deep/ .el-dialog__header {
    height: 50px;
    border-bottom: 1px solid #EEE;
    padding: 15px;
  }

  & /deep/ .el-dialog__footer {
    height: 52px;
    padding-top: 10px;
    padding-right: 20px;
    border-top: 1px solid #EEE;
  }

  & /deep/ .el-dialog__body {
    padding: 30px 50px;
    color: #5F6464
  }
}

.service-small-dialog-onhead {
  & /deep/ .el-dialog__header {
    display: none;
  }

  & /deep/ .el-dialog__body {
    padding: 32px;
    color: #5F6464
  }

  & /deep/ .el-dialog__footer {
    height: 52px;
    padding-top: 0;
    padding-right: 20px;
  }
}


/*权限维护*/

.auth-box {
  .el-checkbox__label {
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.changebar {
  float: right;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  position: relative;
  height: 30px;
  top: -10px;

  & /deep/ .el-select {
    width: 100px;
  }

  & /deep/ .el-date-editor {
    width: 120px;
  }

  & #timetype {
    background-color: transparent;
    border: none;
  }

  & #timerange {
    background-color: transparent;
    border: none;
  }

  .export {
    cursor: pointer;
  }
}

.statictab {
  & /deep/ .el-tabs__header {
    margin-bottom: 10px;
    background-color: #FFF;
  }

  & /deep/ .is-active {
    background-color: #f6f6f6;
  }
}

.bgc {
  & /deep/ .el-table {
    padding: 0 20px 20px 20px;
  }

  & /deep/ .el-table__header .has-gutter>tr>th {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
  }
}

.imgs .el-icon-circle-close {
  color: #FFF !important;
}

.statictab /deep/ .el-tabs__header {
  margin-left: -20px;
  padding-left: 20px;
  padding-top: 10px;
}

// .statictab /deep/ .el-tabs--card>.el-tabs__header .el-tabs__nav {
//     border: 1px solid #F6f6f6;
// }
// .statictab /deep/ .el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
//     border: 1px solid #F6f6f6;
// }
.el-tabs--card>.el-tabs__header .el-tabs__item {
  border-bottom: 1px solid #f6f6f6 !important;
}

.el-tabs__item {
  color: rgba(153, 153, 153, 1);
}

.el-tabs--card>.el-tabs__header .el-tabs__nav {
  border: 1px solid transparent
}

/* 弹出层dialog */
.popover-dialog {
  margin-top: 12px !important;
  padding: 0 !important;
}

.popover-dialog-title {
  font-size: 16px;
  font-weight: 400;
  color: #2a2e2e;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;

  i {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
  }
}

.popover-dialog-content {
  padding: 10px 20px;
}

.popover-dialog-footer {
  border-top: 1px solid #eeeeee;
  padding: 8px 10px;
  text-align: right;

  .el-button {
    width: auto;
  }
}

/*统计*/
.statistic-box {
  min-height: 800px;
  background: #f6f6f6;
  padding: 0 20px 20px;
  margin-bottom: -40px;

  .count-box {
    margin-bottom: 20px;

    .count-box-title {
      margin-bottom: 10px;

      span {
        font-size: 16px;
        color: #2a2e2e;
        font-weight: 600;
        line-height: 22px;
      }

      .right-btns {
        float: right;
        margin-top: -10px;

        input,
        .el-icon-upload2,
        span {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }

        input {
          background: none;
          border: none;
        }

        .el-icon-upload2 {
          margin-right: 10px;
        }
      }
    }

    .count-box-content {
      background: #ffffff;
      padding: 20px 0;

      p {
        font-size: 14px;
        color: #5F6464;
        text-align: center;
      }

      .num-box {
        width: 25%;
        float: left;
        padding-left: 30px;

        &:not(:last-child) {
          border-right: 1px solid #f0f0f0;
        }

        label {
          font-size: 16px;
          color: #5f6464;
          font-weight: 400;
        }

        p {
          margin-top: 20px;
          font-size: 30px;
          color: #2a2e2e;
          font-weight: 600;
          text-align: left;

          span {
            font-size: 13px;
            color: #5f6464;
            font-weight: 400;
            //   margin-left: 20px;
            position: relative;

            &.up::after {
              content: "";
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-bottom: 6px solid #fd7d18;
              line-height: 18px;
              vertical-align: top;
              margin-left: 6px;
            }

            &.down::after {
              content: "";
              width: 0;
              height: 0;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 6px solid #638dec;
              margin-left: 6px;
              position: absolute;
              top: 6px;
            }
          }
        }
      }

    }
  }
}

.num-box>.counttospan {
  margin-top: 20px;
  font-size: 30px;
  color: #2a2e2e;
  font-weight: 600;
  display: block;
  text-align: left;
}

.statistic-box .count-box .count-box-content .num-box p span.counttospan {
  display: inline-block;
  font-size: 30px;
  color: #2a2e2e;
  font-weight: 600;
}

.chart-tab {
  .el-tabs__nav-wrap {
    padding-left: 20px;
  }

  .el-tabs__active-bar {
    background-color: #ed7b59;
  }

  .el-tabs__item {
    font-size: 14px;
    color: #464032;

    &.is-active {
      font-size: 16px;
      color: #ed7b59;
    }
  }
}

.count-box-title {
  .el-range-editor {
    border: none;
    background: none;

    .el-range-separator {
      line-height: 32px !important;
    }
  }
}

// 业务领域统计
.card-tabs.el-tabs--border-card {
  box-shadow: none;
  border: none;
  padding-top: 8px;
  .el-tabs__nav-wrap {
    background: #ffffff;
  }
  &>.el-tabs__header .el-tabs__item {
    border: none;
    background: #ffffff;
    &.is-active {
      background: #f6f6f6;
    }
  }
  .el-tabs__content {
      background: #f6f6f6;
      padding: 10px 0;
  }
}
