@keyframes mymove {
  0% {
    transform: scale(.9); /*开始为原始大小*/
  }
  90% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}
@-ms-keyframes mymove{
  0% {
      transform: scale(.9); /*开始为原始大小*/
      -ms-transform: scale(.9); /*开始为原始大小*/
    }
    90% {
      transform: scale(1.05);
      -ms-transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        -ms-transform: scale(1);
    }
}
@-webkit-keyframes mymove /*Safari and Chrome*/ {
  0% {
    transform: scale(.9); /*开始为原始大小*/
    -webkit-transform: scale(.9); /*开始为原始大小*/
  }
  90% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  100% {
      transform: scale(1);
      -webkit-transform: scale(1);
  }
}


@-moz-keyframes mymove{
  0% {
      transform: scale(.9); /*开始为原始大小*/
      -moz-transform: scale(.9); /*开始为原始大小*/
    }
    90% {
      transform: scale(1.05);
      -moz-transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        -moz-transform: scale(1);
    }
}

@-o-keyframes mymove{
  0% {
      transform: scale(.9); /*开始为原始大小*/
      -o-transform: scale(.9); /*开始为原始大小*/
    }
    90% {
      transform: scale(1.05);
      -o-transform: scale(1.05);
    }
    100% {
        transform: scale(1);
        -o-transform: scale(1);
    }
}


.el-message-box,.msgbox-fade-enter-active{
  animation: mymove .1s;
  -webkit-animation: mymove .1s; /*Safari and Chrome*/
  animation-timing-function: ease-in-out; /*动画的速度曲线*/
  /* Safari 和 Chrome */
  -webkit-animation: mymove .1s;
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
}