.emptylist {
    margin-top: 16px;
}

.tabitem {
    display: inline-block;
    margin-right: 16px;
    .tablabel {
        font-size: 14px;
        font-weight: 400;
        color: #93928E;
        transition: all 0.2s;
    }
    .activelabel {
        width: 24px;
        height: 2px;
        // background: #FD7D18;
        border-radius: 1px;
    }
}

.tabitem.active {
    display: inline-block;
    margin-right: 16px;
    .tablabel {
        font-size: 16px;
        font-weight: 600;
        color: rgba(70, 64, 50, 1);
    }
    .activelabel {
        width: 24px;
        height: 2px;
        background: #FD7D18;
        border-radius: 1px;
    }
}

.popuptitle {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 16px;
    .cancel {
        float: left;
        font-size: 14px;
        font-weight: 400;
        color: #999999;
    }
    .save {
        float: right;
        font-size: 14px;
        font-weight: 400;
        color: rgba(99, 141, 236, 1);
    }
}

.list /deep/ .van-list__finished-text {
    display: none;
}

.listitem {
    margin-bottom: 12px;
}

.orderbtns {
    margin-top: 13px;
    .orderstate {
        display: inline-block;
        min-width: 80px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        background: rgba(253, 125, 24, 0.1);
        font-size: 12px;
        font-weight: 400;
        color: #fd7d18;
        border-radius: 3px;
    }
}

.ordertitlestate {
    float: right;
    font-weight: 400;
    color: #fd7d18;
    font-size: 12px;
    position: relative;
    // top: -15px;
}

.btns {
    float: right;
    .btn {
        display: inline-block;
        width: 80px;
        height: 32px;
        background: #ffffff;
        border: 1px solid #638dec;
        font-size: 12px;
        font-weight: 400;
        color: #638dec;
        line-height: 32px;
        text-align: center;
        border-radius: 3px;
        margin-left: 8px;
        &.gray {
            color: rgb(153, 153, 153);
            border: 1px solid rgb(219, 219, 219);
        }
    }
}

.progresslist {
    background-color: #FFF;
    padding: 16px;
}

.currentevent .progressitem:last-child {
    padding-bottom: 0;
}

// .fulllist div:last-of-type .progressitem {
//     padding-bottom: 0;
// }

h2 .repairdept {
    font-size: 11px;
    font-weight: 400;
    color: #93928E;
    float: right;
    margin-right: 12px;
}