@import "reset.scss";
@import "animation.scss";
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei', 'Helvetica-Light', 'STHeitiSC-Light', arial, sans-serif, 'Hiragino Sans GB', 'HeitiSC';
    background: #ffffff;
    font-size: 14px;
}

// 清除浮动
.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// 不换行
.no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

// 扩展点击区域
.extend-click {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
    }
}


/*单行省略*/

.ellipsis {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}


/*顶部导航*/

.van-nav-bar {
    .van-icon {
        color: #000000 !important;
    }
}


/*底部导航*/

.van-tabbar {
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
}


/*小型按钮*/

.van-button--small {
    min-width: 60px;
    height: 30px !important;
    border-radius: 4px !important;
}


/*信息按钮*/

.van-button--info {
    background: #3a78fc !important;
    border-color: #3a78fc !important;
}

.van-button--plain {
    background: #ffffff !important
}


/*大号按钮*/

.van-button--large {
    border-radius: 5px !important;
    .van-icon {
        margin-right: 4px;
    }
}


/*通用basic-box*/

.basic-box {
    width: 100%;
    background: #ffffff;
    margin-bottom: 12px;
    .basic-box-title {
        height: 36px;
        padding: 12px 0 0 16px;
        font-size: 14px;
        color: #2a2e2e;
        border-bottom: 1PX solid #eeeeee;
    }
}


/*tab页*/

.tabs {
    .tabs-item {
        float: left;
        margin-right: 24px;
        height: 24px;
        padding-top: 2px;
        i,
        span {
            font-size: 14px;
            color: #666666;
        }
        i {
            margin-right: 6px;
        }
        &.active {
            border-bottom: 2PX solid #ff6f4b;
            i,
            span {
                color: #ff6f4b;
                font-weight: 600;
            }
        }
    }
}


/*动画*/

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter {
    opacity: 0;
    transform: translateX(100%);
}

.fade-leave-to {
    opacity: 0;
    transform: translateX(-100%);
    position: absolute;
}

.iconchaxun {
    position: relative;
    top: 1px
}