@font-face {
  font-family: "iconfont"; /* Project id 2213369 */
  src: url('iconfont.woff2?t=1626314772369') format('woff2'),
       url('iconfont.woff?t=1626314772369') format('woff'),
       url('iconfont.ttf?t=1626314772369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e643";
}

.icon-chart:before {
  content: "\e620";
}

.iconchaxun:before {
  content: "\e63d";
}

.iconexport:before {
  content: "\e741";
}

.iconxiangpi_huaban1:before {
  content: "\e67b";
}

.iconhuifuguanli1:before {
  content: "\e638";
}

.iconshouye2:before {
  content: "\e639";
}

.icontijiao:before {
  content: "\e63a";
}

.iconshouye1:before {
  content: "\e63b";
}

.iconhuifuguanli2:before {
  content: "\e63c";
}

.icondafu:before {
  content: "\e637";
}

.iconxuanzhong:before {
  content: "\e636";
}

.iconyihuifu:before {
  content: "\e62f";
}

.icondaihuifu:before {
  content: "\e630";
}

.iconpingjia:before {
  content: "\e631";
}

.iconbiaoyang:before {
  content: "\e62a";
}

.iconpingjia1:before {
  content: "\e62b";
}

.iconfujian:before {
  content: "\e62c";
}

.iconfankui:before {
  content: "\e62d";
}

.iconquanbu:before {
  content: "\e62e";
}

.iconqita:before {
  content: "\e632";
}

.icontousu:before {
  content: "\e633";
}

.iconliuyan:before {
  content: "\e634";
}

.iconzixun:before {
  content: "\e635";
}

