@font-face {
  font-family: "iconfont"; /* Project id 3202769 */
  src: url('iconfont.woff2?t=1645685798022') format('woff2'),
       url('iconfont.woff?t=1645685798022') format('woff'),
       url('iconfont.ttf?t=1645685798022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-question:before {
  content: "\e65e";
}

.icon-menu-xtgl:before {
  content: "\e61f";
}

.icon-menu-chart:before {
  content: "\e620";
}

.icon-menu-exam:before {
  content: "\e65b";
}

.icon-menu-train:before {
  content: "\e65c";
}

