@import "./reset.scss";

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:focus {
      outline: none;
  }
}
html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial, sans-serif;
  width: 100%;
  height: 100%;
  background: #fff;
}


/* 清除浮动 */
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*单行省略*/
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 暂无数据 */
.nodata {
  width: 800px;
  margin: 100px auto;
  padding: 60px 0;
  text-align: center;
  img {
    width: 180px;
    height: 144px;
  }
  p {
    font-size: 14px;
    color: #cccccc;
    line-height: 20px;
    margin: 20px 0 10px;
  }
}

/* 通用的带查询的表格样式 */
.base-search-table {
  padding: 0;
  overflow: hidden;

  .search-box {
    padding: 20px 20px 0;

    .go-back {
      color: #3f86f7;
      font-size: 14px;
      cursor: pointer;
    }

    h3 {
      display: inline-block;
      width: 20%;
      min-width: 150px;
      font-size: 16px;
      height: 30px;
      line-height: 30px;
      color: #373B4B;
    }

    .search-box-right {
      float: right;
      max-width: 80%;

      .el-select {
        width: 120px;
        margin-right: 10px;
      }

      .input-box {
        width: 200px;
        margin-right: 10px;
      }

      .el-divider--vertical {
        height: 32px;
      }
    }
  }

  .el-table {
    margin-top: 20px;

    .table-header {
      th {
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.02);
        color: #000000;

        .cell {
          line-height: 34px;
        }
      }

      th.require {
        .cell::before {
          content: "*";
          color: #ff0000;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    th,
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }

    .cell {
      span {
        color: #3f86f7;
        cursor: pointer;

        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .img-column {
      padding: 5px 0;

      .cell {

        img,
        .icon-div {
          width: 36px;
          height: 36px;
          line-height: 36px;
          vertical-align: middle;
          border-radius: 3px;
        }
      }
    }
  }
  .pagination-box {
    margin-top: 20px;
    text-align: right;
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .el-pager li {
      background-color: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

}


/* 通用的右侧抽屉样式 */
.base-drawer {
  .el-drawer {
    border-radius: 2px;

    .el-drawer__header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      height: 56px;
      padding: 0 24px;
      color: #000000;
      font-weight: 500;
      font-size: 16px;

      span {
        outline: none;
      }
    }

    .drawer-container {
      height: 100%;
      overflow: auto;
    }

    .drawer-footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 52px;
      line-height: 52px;
      padding-left: 24px;
      border-top: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}

/* 通用弹窗样式 */
.base-dialog {
  .el-dialog__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    .el-dialog__title {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .el-dialog__footer {
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding: 10px;
  }
}



/* 没有箭头的下拉框列表 */
.el-select-dropdown.el-popper.noarrow {
  margin-top: 0;

  .popper__arrow {
    display: none;
  }
}

// el-tab样式
.el-tabs__header {
  .el-tabs__nav-wrap {
    padding: 0 20px;
  }

  .el-tabs__item {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }
  .el-tabs__item:focus.is-active.is-focus:not(:active) {
    box-shadow: none;
  }
}
.tab-label-btn {
  .el-input__inner {
    border-right: none;
    &:focus {
      border-color: #C0C4CC;
    }
  }
  .el-input-group__append,
  .el-input-group__prepend {
    padding: 0 5px;
    background: none;
    border-left: none;
  }
  &:hover {
    .el-input-group__append,
    .el-input-group__prepend {
      border-color: #C0C4CC;
    }

  }
}

// 平台用户端公共样式
//分页样式
.pagination {
    background: #fff;
    text-align: right;
    padding: 20px 0;
  }
  .el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #3F86F7;
  }
  .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
  }

  //公共基础样式
  .client-gray-text {
    font-weight: 400;
    color: #7d7d80;
    font-size: 14px;
  }
  .client-blue-text {
    font-weight: 400;
    color:  #3F86F7;
    font-size: 14px;
  }

  .mgLR_10{
    margin: 0 10px;
  }

  // 滚动条
  .my-scrollbar::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  
  .my-scrollbar::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /*opera或ie9*/
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /*firefox*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /*webkit*/
    background: #f8f8f8;
  }
  
  .my-scrollbar::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    display: none;
  }
// 二维码
.el-popover.popverClass {
  box-shadow: none !important;
  border: none !important;
  background: none !important;
  position: relative;
}
.myCode {
  display: inline-block;
  position: absolute;
  top: 0px;
  img {
    width: 132px;
    height: 132px;
    background-color: #fff; //设置白色背景色
    padding: 6px; // 利用padding的特性，挤出白边
    box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.05);
  }
}
  .myDrawerCode {
    display: inline-block;
    position: absolute;
    top: -100px;
    img {
      width: 132px;
      height: 132px;
      background-color: #fff; //设置白色背景色
      padding: 6px; // 利用padding的特性，挤出白边
      box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.05);
    }
  }
  
  /* 确认消息 样式弹框，带标题提示图标*/

  .el-message-box{
    padding:32px 32px 24px 34px;
    padding-bottom:24px!important;

  }
  .el-message-box--center .el-message-box__title{
    justify-content: start;
  }
  .el-message-box--center .el-message-box__content{
    text-align: left!important;
    padding-left: 45px !important;
  }
  .el-message-box--center .el-message-box__btns{
    text-align: right!important;
  }